<!-- DEFINITION OF THE PANEL - THEME COLOR DEFINED ON THE NODE -->
<div class="neocom-panel" id="{{getPanelColor()}}">
  <!-- ACTIVATE MENUBAR IF DETAILED -->
  <div *ngIf="variant == 'DETAILED'">
    <panel-menu-bar [menuContainer]="getMenuSupporter()"></panel-menu-bar>
  </div>
  <!-- BODY FOR THE NODE -->
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <!-- ICON BLOCK -->
      <td width="40px">
        <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
      </td>
      <!-- LEFT BLOCK -->
      <td class="neocom-panel-column">
        <span class="neocom-selectable-name">{{node.name}}</span>
        <span class="neocom.label" id="neocom-ts14">[{{node.assetId}}]</span><br />
        <span>{{node.categoryName}}/{{node.groupName}}</span><br />
        <table width="100%">
          <tr>
            <td class="isk-data">
              <span class="isk-data left-data" id="neocom-ts16">{{scaledPrice(node.getPrice()) | number:'1.2-2'}} {{scale()}}</span><br />
              <span class="neocom-label">ITEM VALUE</span>
            </td>
            <td align="right">
              <span class="isk-data left-data" id="neocom-ts16">{{scaledPrice(node.getPrice())*node.getQuantity() | number:'1.2-2'}} {{scale()}}</span><br />
              <span class="neocom-label">STACK VALUE</span>
            </td>
          </tr>
        </table>
      </td>
      <!-- RIGHT BLOCK -->
      <td class="neocom-panel-right-box" width="35%" align="right ">
        <div class="neocom-classname">PLANETARY RESOURCE</div>
        <div class="stack-counter">{{node.quantity | number:'1.0-0'}}</div>
        <div class="neocom-label right-data">NO. ITEMS</div>
        <div class="lined-bottomline right-data" style="padding-top: 0px;" id="neocom-ts16">{{totalVolume() | number:'1.0-0'}} M3</div>
        <div class="neocom-label right-data">VOLUME</div>
      </td>
      <!-- RIGHT ARROW -->
      <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
        <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/res-ui/drawable/arrowright.png ">
      </td>
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <td width="5px" *ngIf="!isExpandable()">
        &nbsp;&nbsp;&nbsp;
      </td>
    </tr>
  </table>
</div>
