<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu">Citas Disponibles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <ion-card class="citamed-card">
    <ion-card-header>
      <span class="container-title">Médico Seleccionado</span>
    </ion-card-header>
    <ion-card-content *ngIf="null != medicoSeleccionado">
      <ion-label class="patient-data">[{{medicoSeleccionado.getId()}}]</ion-label>
      <!-- <ion-label class="citamed-label">IDENTIFICADOR</ion-label> -->
      <!-- <ion-label class="patient-data"></ion-label> -->
      <!-- <ion-label class="citamed-label">Teléfono de Contacto</ion-label> -->
      <ion-label class="patient-data">{{medicoSeleccionado.tratamiento}} {{medicoSeleccionado.nombre}} {{medicoSeleccionado.apellidos}}</ion-label>
      <ion-label class="citamed-label">NOMBRE</ion-label>
      <ion-label class="patient-data">{{medicoSeleccionado.especialidad}}</ion-label>
      <ion-label class="citamed-label">ESPECIALIDAD</ion-label>
      <ion-label class="patient-data">{{medicoSeleccionado.localidad}} - {{medicoSeleccionado.direccion}}</ion-label>
      <ion-label class="citamed-label">DIRECCION DE CONSULTA</ion-label>
      <ion-label class="patient-data">{{medicoSeleccionado.telefono}}</ion-label>
      <ion-label class="citamed-label">TELEFONO DE CONSULTA</ion-label>
    </ion-card-content>
  </ion-card>
  <div style="height: 10px;">
    &nbsp;
  </div>
  <ion-card class="citamed-card" style="padding-bottom: 20px;">
    <ion-card-header>
      <span class="container-title">Citas Disponibles</span>
    </ion-card-header>
    <ion-item-group>
      <div *ngFor="let node of renderNodeList">
        <button ion-item *ngIf="node.jsonClass == 'Cita'" class="citamed-cita" (click)='citaClick(node);'>
        {{getWeekDay(node)}}, {{getDateNumber(node)}} {{getMonthName(node)}} {{getYearNumber(node)}} <span class="citamed-cita-slot">{{node.getHour() | number :'2.0-0'}}:{{node.getMinutes() | number :'2.0-0'}}</span>
      </button>
      </div>
    </ion-item-group>
  </ion-card>
</ion-content>
