.dropAllowed {
  background-color: #183465;
  opacity         : 1.0;
  border-color    : blue;
  border-style    : solid;
  border-width    : 1px 1px 1px 1px;
}

.dragOver {
  background-color: #213619;
}