.title-box {
  // border-bottom: #A0A0F0 2px solid;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.73);
  padding   : 5px;
}

.title {
  color      : orange;
  font-family: "Elemental";
  font-size  : 30px;
  text-shadow: 0 0 6px orange;
}

.subtitle {
  color      : white;
  // font-family: "Elemental";
  font-size  : 24px;
  text-shadow: 0 0 6px white;
}