<div class="panel-container-loc" id="panelborder-red">
  <div style="border-bottom: 1px solid white;">Title of the Section</div>
  <!-- <hr style="background-color: white;"> -->
  <div draggable *ngFor="let item of actions" [dragClass]="'drag-over'" [dragData]="item" class="" [dragScope]="item.type">
    <app-action *ngIf="item.jsonClass == 'Action'" [viewer]="getViewer()" [node]="item"></app-action>
  </div>
</div>