<!-- A C T I O N   B A R -->
<neocom-action-bar [title]="'ASSETS BY LOCATION'" [subtitle]="'List of assets classified by Location'"></neocom-action-bar>

<div fxLayout="row">
  <!-- L E F T   C O L U M N - A S S E T S -->
  <div style="width: 60%; display: inline-block;">
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">ASSETS BY LOCATION</span>
    </div>
    <!-- <neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Processing Fitting Actions',subtitle:'Doing for copies of fittingName'}"></neocom-spinner-central> -->
    <app-spinner-panel *ngIf="downloading" [title]="'Downloading assets...'"></app-spinner-panel>

    <!-- M O D E L   V I E W   T R A N S F O R M A T I O N -->
    <div *ngFor="let node of renderNodeList">
      <neocom-region *ngIf="node.jsonClass == 'Region'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-region>
      <selectable-location *ngIf="node.jsonClass == 'Location'" [viewer]="getViewer()" [node]="node" [variant]="'STANDARD'" (mouseenter)="mouseEnter(node)" (click)="toggleSelection(node)">
      </selectable-location>
      <neocom-location *ngIf="node.jsonClass == 'LocationContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)" (click)="toggleSelection(node)">
      </neocom-location>
      <neocom-asset *ngIf="node.jsonClass == 'NeoComAsset'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-asset>
      <neocom-separator *ngIf="node.jsonClass == 'Separator'" [viewer]="getViewer()" [node]="node"></neocom-separator>
      <neocom-group-container *ngIf="node.jsonClass == 'GroupContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-group-container>
      <neocom-labeled-container *ngIf="node.jsonClass == 'LabeledContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-labeled-container>
      <neocom-ship *ngIf="node.jsonClass == 'Ship'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-ship>
      <neocom-container *ngIf="node.jsonClass == 'SpaceContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-container>
    </div>
  </div>

  <!-- R I G H T   C O L U M N - L O C A T I O N   D E T A I L   &   A C T I O N S -->
  <div style="width: 40%; float: right;">
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">DETAILED LOCATION INFORMATION</span>
    </div>
    <selectable-location *ngIf="getSelectedNodeClass() === 'Location'" [viewer]="getViewer()" [node]="getSelectedNode()" [variant]="'DETAILED'">
    </selectable-location>
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">DETAILED LOCATION INFORMATION</span>
      <ui-style-catalog></ui-style-catalog>
    </div>
  </div>
</div>
