<div *ngIf="isExpense" class="manufacture-item" id="mineral-border-red">
  <span class="isk-data" style="margin-right: 3px;">{{getQuantity() | number:'1.0-0'}}</span>
</div>
<div *ngIf="!isExpense" class="manufacture-item" id="mineral-border-green">
  <span class="isk-data" style="margin-right: 3px;">{{getQuantity() | number:'1.0-0'}}</span>
</div>
