<!-- S P I N N E R -->
<!-- <app-spinner-panel *ngIf="downloading" [title]="'Downloading hull manufacture requests...'"></app-spinner-panel> -->
<!-- P A N E L   T I T L E -->
<div class="neocom-panel header-box" id="panelborder-white">
  <span class="proxima-black-ff" style="padding: 2px;">TOTALS REQUESTS MINERAL DEMANDS / OFFER</span>
</div>
<!-- T O T A L S   T A B L E -->
<div class="neocom-panel" id="panelborder-blue">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <!-- TOTAL MINERAL QUANTITIES FOR REQUIREMENTS -->
    <tr>
      <td width="36px">
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowdownred.png" style="position: absolute;"><br />
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowdownred.png">
      </td>
      <td width="25%">
        <span>TOTALS</span>
      </td>
      <!-- TOTAL HULL/STRUCTURE MINERAL DEMANDS -->
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getRequiredMineral(34)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getRequiredMineral(35)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getRequiredMineral(36)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getRequiredMineral(37)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getRequiredMineral(38)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getRequiredMineral(39)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getRequiredMineral(40)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getRequiredMineral(11399)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="10%">
        &nbsp;
      </td>
    </tr>
    <!-- TOTAL MINERAL QUANTITIES AVAILABLE -->
    <tr>
      <td width="36px">
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowupgreen.png" style="position: absolute;"><br />
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowupgreen.png">
      </td>
      <td width="25%">
        <span>TOTALS</span>
      </td>
      <!-- TOTAL HULL/STRUCTURE MINERAL DEMANDS -->
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getAvailableMineral(34)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getAvailableMineral(35)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getAvailableMineral(36)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getAvailableMineral(37)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getAvailableMineral(38)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getAvailableMineral(39)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getAvailableMineral(40)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="8%" align="center">
        <industry-manufacture-mineral [resource]="getAvailableMineral(11399)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="10%">
        &nbsp;
      </td>
    </tr>
  </table>
</div>
