<!-- H E A D E R -->
<!-- <neocom-header>
  <p>
    inside neocom-header works!
  </p>
</neocom-header> -->
<!-- <p>
  launch-fitting-manufacture-page works!
</p> -->
<!-- <cj-action-bar></cj-action-bar> -->
<div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
  <cj-job-preparation-panel [container]="self" [colorScheme]="'panel-white'"></cj-job-preparation-panel>
  <cj-corporation-containers-panel [title]="'Available Containers'" [container]="self" [colorScheme]="'panel-pink'"></cj-corporation-containers-panel>
  <cjv1-pilot-fittings-panel [title]="'Available Fittings'" [container]="self" [colorScheme]="'panel-red'"></cjv1-pilot-fittings-panel>
</div>