<div class="neocom-panel" style="display: flex;">
  <div style="flex-grow: 4;" class="spinner-label">{{title}}</div>
  <img style="flex-grow: 1;" class="spinner-animation" src="{{getSpinnerColor()}}" />
  <div style="flex-grow: 4;">
    <span class="spinner-label-2ndline">{{getWaitingTime() | date:'mm:ss'}}<span class="spinner-elapsed"> elapsed</span></span>
  </div>
</div>