<neocom-action-bar></neocom-action-bar>
<div style="width: 60%; float:left">
  <neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Downloading Fitting Industry Actions list',subtitle:''}"></neocom-spinner-central>
  <neocom-component-factory [dataSource]="getDataSource()"></neocom-component-factory>
</div>