<!-- A C T I O N   B A R -->
<neocom-action-bar [title]="'FITTING PROCESSING'" [subtitle]="getFittingProcessingSubtitle()"></neocom-action-bar>

<div fxLayout="row">
  <!-- L E F T   C O L U M N - F I T T I N G   A C T I O N S -->
  <div style="width: 60%; display: inline-block;">
    <!-- <div style="border-bottom: 1px solid white;">FITTING PROCESSING TASKS</div> -->
    <neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Processing Fitting Actions',subtitle:'Doing for copies of fittingName'}"></neocom-spinner-central>
    <neocom-fitting-request-detailed *ngIf="!downloading" [node]="getFittingRequest()"></neocom-fitting-request-detailed>

    <!-- M O D E L   V I E W   T R A N S F O R M A T I O N -->
    <div *ngFor="let node of getPanelContents()">
      <neocom-separator *ngIf="node.jsonClass == 'Separator'" [viewer]="getViewer()" [node]="node"></neocom-separator>
      <neocom-credential *ngIf="node.jsonClass == 'Credential'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-credential>
      <neocom-group-container *ngIf="node.jsonClass == 'GroupContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-group-container>
      <neocom-labeled-container *ngIf="node.jsonClass == 'LabeledContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-labeled-container>
      <neocom-processing-task *ngIf="node.jsonClass == 'ProcessingTask'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-processing-task>
      <neocom-location *ngIf="node.jsonClass == 'Location'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-location>
      <neocom-asset *ngIf="node.jsonClass == 'NeoComAsset'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-asset>
      <neocom-contract *ngIf="node.jsonClass == 'Contract'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-contract>
      <neocom-job *ngIf="node.jsonClass == 'Job'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-job>
      <neocom-contract-item *ngIf="node.jsonClass == 'ContractItem'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-contract-item>
      <neocom-eve-item *ngIf="node.jsonClass == 'EveItem'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
      </neocom-eve-item>
      <neocom-fitting *ngIf="node.jsonClass == 'Fitting'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-fitting>
      <neocom-eve-item *ngIf="node.jsonClass == 'FittingItem'" [viewer]="getViewer()" [node]="node.itemDetails" (mouseenter)="mouseEnter(node)">
      </neocom-eve-item>
      <neocom-information-panel *ngIf="node.jsonClass == 'InformationPanel'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-information-panel>
      <neocom-fitting-request *ngIf="node.jsonClass == 'FittingRequest'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-fitting-request>
    </div>
  </div>

  <!-- R I G H T   C O L U M N - I N D U S T R Y   A S S E T S -->
  <div style="width: 40%; float: right;">
    <neocom-industry-activities></neocom-industry-activities>
  </div>
</div>
