<div class="neocom-panel" [ngClass]="getColorSchemePanelStyle()">~
  <form>
    <div>
      FORMULARIO
    </div>

    <label for="referencia">Target Hull:</label>
    <div droppable style="min-width: 50px; min-height: 30px;">
      <!-- <input type="text" class="form-control citamed-form-control citamed-form-referencia" required minlength="8"        [ngClass]="{'citamed-form-input-green': referencia.valid}" [(ngModel)]="credential.id" name="referencia"       #referencia="ngModel"> -->
    </div>

    <div style="flex-grow: 95;">
      NEW CORPORATION JOB
    </div>
    <span>TARGET</span>
    <span>Copies</span>
    <span>Workplace</span>
    <div droppable style="min-height: 40px; min-width: 25%;">&nbsp;</div>
  </form>
</div>