<neocom-action-bar><span id="neocom-ts14">Mock status: TRUE</span></neocom-action-bar>
<neocom-corporation-tab [corporation]="corporation"></neocom-corporation-tab>
<neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Downloading Corporation Data',subtitle:''}"></neocom-spinner-central>
<neocom-corporation-card [node]="corporation"></neocom-corporation-card>
<div fxLayout="row">
  <div style="width: 50%; display: inline-block;">
    <div class="proxima-black-ff" style="border-bottom: 1px solid white;">FITTING PENDING JOBS</div>
    <neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Downloading Fitting Pending Jobs',subtitle:''}"></neocom-spinner-central>
    <neocom-fitting-request-list-panel></neocom-fitting-request-list-panel>
  </div>
  <div style="width: 50%; float: right;">
    <div class="proxima-ff" style="border-bottom: 1px solid white;">RIGHT PANEL - Detailed information</div>
  </div>
</div>
