// %panelborder {
//   line-height: $neocom-line-height;
//   background-color: $panel-background-color;
//   height: auto;
//   margin-bottom: $neocom-default-margin;
//   opacity: $panel-opacity;
//   position: relative;
//   border-width: 1px 1px 1px 1px;
//   border-color: $panel-border-color;
//   border-style: solid;
// }
$tab-width-padding: 10px;
$tab-height-padding: 5px;
$tab-font-size: 12px;
$tab-font-weight: 900;
$tab-active-color: #38423B;
$tab-color: black;
$tab-disabled-color: #38423B;

%neocom-tab {
  padding    : $tab-height-padding $tab-height-padding $tab-width-padding $tab-width-padding;
  font-weight: $tab-font-weight;
  font-family: Roboto;
}

.neocom-tab {
  @extend %neocom-tab;
  background-color: $tab-color;
  color           : white;
}

.neocom-tab-active {
  @extend %neocom-tab;
  background-color: $tab-active-color;
  color           : white;
}

.neocom-tab-disabled {
  @extend %neocom-tab;
  background-color: $tab-active-color;
  color           : black;
}