<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active neocom-tab-active">CORPORATION</a>
  </li>
  <!-- <li class="nav-item dropdown ">
    <a class="nav-link neocom-tab dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li> -->
  <li class="nav-item">
    <a class="nav-link neocom-tab" [routerLink]="['members']">MEMBERS</a>
  </li>
  <li class="nav-item">
    <a class="neocom-tab-disabled nav-link disabled" href="#">Disabled</a>
  </li>
</ul>