<!-- D E F A U L T   V A R I A N T -->
<div draggable *ngIf="getVariant() === '-DEFAULT-'" class="neocom-panel" [ngClass]="getColorSchemePanelStyle()">
  <div>
    <img class="neocom-icon" src="{{getIconReference()}}" id="iconsize-24">
  </div>
  <div style="flex-grow: 95;">
    <span class="neocom-expandable-name" id="neocom-ts18">{{node.name}}</span>
    <span class="container-class">FITTING</span>
  </div>
</div>
