<!-- A C T I O N   B A R -->
<neocom-action-bar [title]="'MANUFACTURE RESOURCES BALANCE'" [subtitle]="'Lists of Mineral demands and Mineral storage from Ore refining.'"></neocom-action-bar>

<panel-hull-mineral-requirementsv1 [requests]="hullRequests" [downloading]="hullsDownloading"></panel-hull-mineral-requirementsv1>
<panel-totals-mineral-requirementsv1 [requirements]="totalsRequests" [available]="totalsAvailable" [downloading]="storageDownloading"></panel-totals-mineral-requirementsv1>
<panel-minerals-storagev1 [resourceContainers]="availableResources" [downloading]="storageDownloading"></panel-minerals-storagev1>
