<div fxLayout="row">
  <div style="width: 60%; display: inline-block;">
    <neocom-header></neocom-header>
  </div>
  <div style="width: 40%; float: right;">
    <ui-server-status></ui-server-status>
  </div>
</div>
<!-- <toaster-container [toasterconfig]="toasterconfig"></toaster-container> -->
<router-outlet></router-outlet>
