<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu">Confirmacion Cita</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <ion-card class="citamed-card">
    <ion-card-header>
      <span class="container-title">Cita Seleccionada</span>
    </ion-card-header>
    <ion-card-content *ngIf="dataReady()">
      <ion-label class="patient-data">{{getWeekDay(currentCita)}}, {{getDateNumber(currentCita)}} {{getMonthName(currentCita)}} {{getYearNumber(currentCita)}} <span class="citamed-cita-slot" style="font-size: 24px;">{{currentCita.getHour() | number :'2.0-0'}}:{{currentCita.getMinutes() | number :'2.0-0'}}</span>
      </ion-label>
      <ion-label class="citamed-label">HORA DE LA CITA</ion-label>
      <ion-label class="patient-data">{{currentMedico.tratamiento}} {{currentMedico.nombre}} {{currentMedico.apellidos}}</ion-label>
      <ion-label class="citamed-label">ESPECIALISTA</ion-label>
      <ion-label class="patient-data">{{currentMedico.especialidad}}</ion-label>
      <ion-label class="citamed-label">ESPECIALIDAD</ion-label>
      <ion-label class="patient-data">{{currentMedico.localidad}} - {{currentMedico.direccion}}</ion-label>
      <ion-label class="citamed-label">DIRECCION DE CONSULTA</ion-label>
      <ion-label class="patient-data">{{currentMedico.telefono}}</ion-label>
      <ion-label class="citamed-label">TELEFONO DE CONSULTA</ion-label>
    </ion-card-content>
  </ion-card>
  <div class="citamed-block">
    <button ion-button class="citamed-button" id="bt-height4" color="secondary" (click)='confirmAppointment();'>Confirmar Cita</button>
    <button ion-button class="citamed-button" id="bt-height4" color="danger" (click)="cancelAppointment();">cancelar Solicitud</button>
  </div>
</ion-content>
