<div class="insert-animation neocom-panel" id="{{getPanelColor()}}" style="margin-bottom: 2px;">
  <div class="panel-decorator-collapsed" [ngStyle]="stateStyles">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON SECTION -->
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <!-- CENTRAL SECTION -->
        <td class="neocom-panel-column" width="80%">
          <div class="neocom-marked-name" id="neocom-ts16">{{node.getContractTypeName()}}</div>
          <div>
            <span>ITEM COUNT:</span><span style="margin-left:4px;" id="neocom-ts16">{{node.getContentsCount()}}</span>&nbsp;&nbsp;&nbsp;<br>
            <span>VOLUME USED:</span><span style="margin-left:4px;" id="neocom-ts16">{{node.getVolumeUsed() | number: '1.2-2'}} m3</span>&nbsp;&nbsp;&nbsp;<br>
            <span>VALUE ESTIMATED:</span><span style="margin-left:4px;" id="neocom-ts16">{{node.getEstimatedValue() | number: '1.0-0'}} ISK</span>&nbsp;&nbsp;&nbsp;
          </div>
          <!-- <div class="neocom-data imaki-ff">[{{node.assetId}}]-{{node.category}}/{{node.groupName}}</div> -->
          <div class="neocom-data imaki-ff">
            <!-- <span class="neocom-data mons-olympia-ff neocom-ts16 left-data">{{node.getPrice() | number:'1.2-2'}} ISK</span> -->
            <!-- <span class="neocom-data mons-olympia-ff neocom-ts16 right-data">{{totalValueIsk() | number:'1.0-0'}} ISK</span> -->
          </div>
          <!-- <div class="">&nbsp;</div> -->
          <div class="neocom-label">
            <!-- <span class="left-data">ITEM VALUE</span> -->
            <!-- <span class="right-data">TOTAL VALUE</span> -->
          </div>
        </td>
        <!-- RIGHT BLOCK -->
        <td width="25%" class="neocom-panel-right-box" align="right ">
          <div class="neocom-classname">CONTRACT</div>
          <!-- <div class="neocom-marked neocom-marked-glow neocom-ts14">{{node.region}} ► {{node.constellation}}</div> -->
          <div class="stack-counter">{{node.getContentsCount() | number :'1.0-0'}}</div>
          <div class="neocom-label">ITEMS</div>
        </td>
        <!-- MENU BLOCK -->
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="5%" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>