<!-- <div class=""> -->
<div *ngFor="let node of getPanelContents()">
  <neocom-separator *ngIf="node.jsonClass == 'Separator'" [viewer]="getViewer()" [node]="node"></neocom-separator>
  <neocom-credential *ngIf="node.jsonClass == 'Credential'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
  </neocom-credential>
  <neocom-group-container *ngIf="node.jsonClass == 'GroupContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
  </neocom-group-container>
  <neocom-labeled-container *ngIf="node.jsonClass == 'LabeledContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
  </neocom-labeled-container>
  <neocom-processing-task *ngIf="node.jsonClass == 'ProcessingTask'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
  </neocom-processing-task>
  <neocom-location *ngIf="node.jsonClass == 'Location'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
  </neocom-location>
  <neocom-asset *ngIf="node.jsonClass == 'NeoComAsset'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
  </neocom-asset>
  <neocom-contract *ngIf="node.jsonClass == 'Contract'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
  </neocom-contract>
  <neocom-job *ngIf="node.jsonClass == 'Job'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
  </neocom-job>
  <neocom-contract-item *ngIf="node.jsonClass == 'ContractItem'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
  </neocom-contract-item>
  <neocom-eve-item *ngIf="node.jsonClass == 'EveItem'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">
  </neocom-eve-item>
  <neocom-fitting *ngIf="node.jsonClass == 'Fitting'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-fitting>
  <neocom-eve-item *ngIf="node.jsonClass == 'FittingItem'" [viewer]="getViewer()" [node]="node.itemDetails" (mouseenter)="mouseEnter(node)">
  </neocom-eve-item>
  <neocom-information-panel *ngIf="node.jsonClass == 'InformationPanel'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-information-panel>
  <neocom-fitting-request *ngIf="node.jsonClass == 'FittingRequest'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-fitting-request>
  <!-- <neocom-fitting-item *ngIf="node.jsonClass == 'FittingItem'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-fitting-item> -->
  <!-- <neocom-login4-list *ngIf="render.jsonClass == 'Login'" [viewer]="getViewer()" [node]="render"></neocom-login4-list>
    <neocom-pilot4-login *ngIf="render.jsonClass == 'NeoComCharacter'" [viewer]="getViewer()" [node]="render"></neocom-pilot4-login>
    <neocom-pilot4-login *ngIf="render.jsonClass == 'Pilot'" [viewer]="getViewer()" [node]="render"></neocom-pilot4-login>
    <neocom-pilot4-login *ngIf="render.jsonClass == 'Corporation'" [viewer]="getViewer()" [node]="render"></neocom-pilot4-login> -->
</div>
<!-- </div> -->
