//--- APPLICATION STYLE VARIABLES
@import '../../../../styles/_scss_variables.scss';

.neocom-label {
  color      : white;
  font-family: "Roboto",sans-serif,'Proxima Nova';
  font-size  : 8px;
  font-weight: normal;
  line-height: 1.0;
  text-transform: uppercase;
}
