<div class="neocom-panel" id="panelborder-white" style="height: 70px;">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <!-- ICON BLOCK -->
      <!-- LEFT BLOCK -->
      <td class="neocom-panel-column">
      </td>
      <!-- RIGHT BLOCK -->
      <td width="10%" class="neocom-panel-right-box" align="right " style="vertical-align: top;">
        <div class="neocom-classname">STATUS</div>
      </td>
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <td width="5px">
        &nbsp;
      </td>
    </tr>
    <tr>
      <!-- ICON BLOCK -->
      <!-- LEFT BLOCK -->
      <td class="neocom-panel-column">
        <div>
          <div>
            <span style="font-weight: bold;" id="neocom-ts14" [style.color]="stateColor">>>{{status.server}}</span><br />
            <!-- <span class="neocom-label">SERVER NAME / STATUS</span> -->
          </div>
        </div>
      </td>
      <!-- RIGHT BLOCK -->
      <td width="10%" class="neocom-panel-right-box" align="right " style="vertical-align: top;">
        <div class="isk-data" id="neocom-ts14">{{status.players}}</div>
        <div class="neocom-label">
          PLAYERS
        </div>
      </td>
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <td width="5px">
        &nbsp;
      </td>
    </tr>
    <tr>
      <!-- ICON BLOCK -->
      <!-- LEFT BLOCK -->
      <td class="neocom-panel-column" colspan="2">
        <table width="100%">
          <tr>
            <td width="35%" align="right">
              <span>{{status.serverVersion}}</span>
            </td>
            <td width="35%" align="right">
              <span>{{status.databaseVersion}}</span>
            </td>
            <td width="30%" align="right">
              <span>{{status.neocomVersion}}</span>
            </td>
          </tr>
          <tr cellpadding="0px" cellspacing="0px">
            <td width="35%" align="right" style="height:10px">
              <span class="neocom-label">SERVER VERSION</span>
            </td>
            <td width="35%" align="right" style="height:10px">
              <span class="neocom-label">DATABASE SDE VERSION</span>
            </td>
            <td width="30%" align="right" style="height:10px">
              <span class="neocom-label">NEOCOM VERSION</span>
            </td>
          </tr>
        </table>
      </td>
      <!-- RIGHT BLOCK -->
      <!-- <td width="10%" class="neocom-panel-right-box" align="right " style="vertical-align: top;">
        <div class="isk-data" id="neocom-ts14">{{status.players}}</div>
        <div class="neocom-label">
          PLAYERS
        </div>
      </td> -->
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <td width="5px">
        &nbsp;
      </td>
    </tr>
  </table>
</div>
