<div class="neocom-panel" id="panelborder-red" style="margin-bottom: 2px;">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="99.7%">
    <tr class="panel-title-border">
      <td>
        <span class="panel-title">Retriever Hull Manufacture</span>
      </td>
      <td width="30%" class="neocom-panel-right-box" align="right">
        <div class="neocom-classname neocom-classname-new">HULL MANUFACTURE ORDERS</div>
      </td>
    </tr>
  </table>
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <!-- MINERAL HEADER -->
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
      <td *ngFor="let resource of mineralCatalog" width="8%" align="center">
        <!-- <span>{{resource.name}}</span> -->
        <industry-mineral-header [resource]="resource"></industry-mineral-header>
      </td>
      <td width="10%">
        &nbsp;
      </td>
    </tr>
    <!-- HULL MINERAL REQUIREMENTS -->
    <tr *ngFor="let hull of hulls">
      <td width="36px">
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowdownred.png" style="position: absolute;"><br />
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowdownred.png">
      </td>
      <td width="25%">
        <industry-hull-identification [hull]="hull"></industry-hull-identification>
      </td>
      <td *ngFor="let resource of loms" width="8%" align="center">
        <!-- <span>{{resource.name}}</span> -->
        <industry-manufacture-mineral [resource]="resource" [isExpense]="true" n style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="10%">
        ACTION MENU
      </td>
    </tr>
    <!-- STRUCTURE MINERAL REQUIREMENTS -->
    <tr *ngFor="let hull of structures">
      <td width="36px">
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowdownred.png" style="position: absolute;"><br />
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowdownred.png">
      </td>
      <td width="25%">
        <industry-hull-identification [hull]="hull"></industry-hull-identification>
      </td>
      <td *ngFor="let resource of loms" width="8%" align="center">
        <!-- <span>{{resource.name}}</span> -->
        <industry-manufacture-mineral [resource]="resource" [isExpense]="true" n style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="10%">
        ACTION MENU
      </td>
    </tr>
  </table>
</div>
<!-- TOTALS SECTION -->
<div class="neocom-panel" id="panelborder-blue" style="margin-bottom: 2px;">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="99.7%">
    <tr class="panel-title-border">
      <td>
        <span class="panel-title">TOTALS SECTION REQS- ORE+</span>
      </td>
      <td width="30%" class="neocom-panel-right-box" align="right">
        <div class="neocom-classname neocom-classname-new">TOTALS MINERALS</div>
      </td>
    </tr>
  </table>
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <!-- MINERAL HEADER -->
    <!-- <tr>
      <td colspan="2">
        &nbsp;
      </td>
      <td *ngFor="let resource of mineralCatalog" width="8%" align="center">
        <industry-mineral-header [resource]="resource"></industry-mineral-header>
      </td>
      <td width="10%">
        &nbsp;
      </td>
    </tr> -->
    <!-- TOTAL MINERAL QUANTITIES FOR REQUIREMENTS -->
    <tr>
      <td width="36px">
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowdownred.png" style="position: absolute;"><br />
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowdownred.png">
      </td>
      <td width="25%">
        <span>TOTALS</span>
      </td>
      <td *ngFor="let resource of totals" width="8%" align="center">
        <!-- <span>{{resource.name}}</span> -->
        <industry-manufacture-mineral [resource]="resource" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="10%">
        ACTION MENU
      </td>
    </tr>
    <tr>
      <td width="36px">
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowupgreen.png" style="position: absolute;"><br />
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowupgreen.png">
      </td>
      <td width="25%">
        <span>TOTALS</span>
      </td>
      <td *ngFor="let resource of totals" width="8%" align="center">
        <!-- <span>{{resource.name}}</span> -->
        <industry-manufacture-mineral [resource]="resource" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td width="10%">
        ACTION MENU
      </td>
    </tr>
  </table>
</div>
<!-- ORE PROCESSING RESULTS -->
<div class="neocom-panel" id="panelborder-green" style="margin-bottom: 2px;">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="99.7%">
    <tr class="panel-title-border">
      <td>
        <span class="panel-title">Ore Processing Results</span>
      </td>
      <td width="30%" class="neocom-panel-right-box" align="right">
        <div class="neocom-classname neocom-classname-new">ORE MINERAL PRODUCTIONS</div>
      </td>
    </tr>
  </table>
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr *ngFor="let ore of ores">
      <td width="36px">
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowupgreen.png" style="position: absolute;"><br />
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowupgreen.png">
      </td>
      <td width="15%">
        ORE LOCATION AND TYPE - {{ore.name}}
      </td>
      <td width="5%">
        QUANTITY
      </td>
      <td width="4%">
        VOLUME M3
      </td>
      <td *ngFor="let resource of totals" width="8%" align="center">
        <industry-manufacture-mineral [resource]="resource" [isExpense]="false"></industry-manufacture-mineral>
      </td>
      <td width="10%">
        ACTION MENU
      </td>
    </tr>
    <!-- MINERAL HEADER -->
    <tr>
      <td colspan="4">
        &nbsp;
      </td>
      <td *ngFor="let resource of mineralCatalog" width="8%" align="center">
        <industry-mineral-header [resource]="resource"></industry-mineral-header>
      </td>
      <td width="10%">
        &nbsp;
      </td>
    </tr>
  </table>
</div>
