<div class="neocom-panel" id="panelborder-white">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <a class="no-underline" style="color: white;" [routerLink]="['/authorizationprogress']">
      <tr>
        <td><img class="" src="/assets/res-ui/drawable/defaulticonplaceholder.png" id="iconsize-36"></td>
        <td width="80% " class="neocom-panel-column">
          <div>
            <span class="" id="neocom-ts16">Click to add new authorization</span><br>
          </div>
        </td>
        <!-- RIGHT BLOCK -->
        <td width="20%" class="neocom-panel-right-box" align="right ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="5px" *ngIf="!isExpandable()">
          &nbsp;
        </td>
      </tr>
    </a>
  </table>
</div>
