//  PROJECT:     NeoCom.WS (NEOC.WS)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2017-2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Angular 4
//  DESCRIPTION: Angular source code to run on a web server almost the same code as on the Android platform.
//               The project has 3 clear parts. One is the Java libraries that are common for all platforms,
//               the second is the java microservices that compose the web application backend made with
//               SpringBoot technology and finally the web ui code made in typescript within the Angular
//               framework.
// --- APPLICATION FONT VARIABLES
$neocom-line-height    : 1.0;

//--- APPLICATION COLOR TABLES
// - APPLICATION COLORS
$app-red-70: #FF6666; // Red 70%
$app-red-30: #990000; // Red 30%
$app-pale-red-color: $app-red-30;

// - PANEL COLORS
$panel-red: #FF0000; // Red 50%
$panel-red-90: #FFCCCC; // Red 90%
$panel-red-10: #330000; // Red 10%
$panel-pink: #ff00ff; // Red 50%
$panel-pink-90: #330033; // Red 90%
$panel-pink-10: #330000; // Red 10%
$panel-orange: #FF3300; // Orange 50%
$panel-orange-90: #FFD6CC; // Orange 90%
$panel-orange-10: #4D0D00; // Orange 15%
$panel-yellow: #FFFF00; // Yellow 50%
$panel-yellow-90: #ffff99; // Yellow 80%
$panel-yellow-10: #333300; // Yellow 10%
$panel-lime: #99FF33; // Lime 50%
$panel-lime-90: #E6FFCC; // Lime 80%
$panel-lime-10: #1A3300; // Lime 10%
$panel-green: #009900; // Lime 50%
$panel-green-90: #B3FFB3; // Lime 80%
$panel-green-10: #003300; // Lime 10%
$panel-lightblue: #00ffcc; // Lime 50%
$panel-lightblue-90: #ccfff5; // Lime 80%
$panel-lightblue-10: #003329; // Lime 10%
$panel-blue: #0066cc; // Lime 50%
$panel-blue-90: #cce6ff; // Lime 80%
$panel-blue-10: #001a33; // Lime 10%
$panel-violet: #cc33ff; // Lime 50%
$panel-violet-90: #f2ccff; // Lime 80%
$panel-violet-10: #39004d; // Lime 10%

$panel-white: #FFFFFF; // Lime 50%
$panel-white-90: #e6e6e6; // Lime 80%
$panel-white-10: #262626; // Lime 10%
$panel-darkgrey: #808080; // Lime 50%
$panel-darkgrey-90: #cccccc; // Lime 80%
$panel-darkgrey-10: #1a1a1a; // Lime 10%

// - BACKGROUND COLORS
$panel-background-color: #080808;
$background-tint-red   : #250000;
$background-tint-orange: #301000;
$background-tint-yellow: #303000;
$background-tint-blue  : #080825;
$background-tint-green : #052406;
$background-tint-white : #252525;

$expandable-name-color: white;
$selectable-name-color : orange;
$marked-name-color     : #50B71D; //--- FONT CHARACTERISTICS
$default-text-size     : 14px; // $bold-weight           : 500;
$selected-text-size    : 16px; // --- PANEL MARGIN VARIABLES
// $neocom-default-margin: 2px;
//--- PANEL DEFINITION
// $panel-margin: 2px;
$panel-padding         : 2px; // --- PANEL VARIABLES
$panel-background-color: #080808;
$panel-border-color    : #404040;
$panel-opacity         : 0.8;
$panel-corner-height   : 6px;
$panel-corner-width    : 6px;
$panel-repositioning   : -1px; // %panelborder {
//   line-height: $neocom-line-height;
//   background-color: $panel-background-color;
//   height: auto;
//   margin-bottom: $neocom-default-margin;
//   opacity: $panel-opacity;
//   position: relative;
//   border-width: 1px 1px 1px 1px;
//   border-color: $panel-border-color;
//   border-style: solid;
// }
$label-size: 8px;

//--- ADDITIONAL COLORS
$light-orange-85: #FFE6B3;

//--- TEXT VARIABLES
$bold-weight: 800;
$semibold-weight: 600;
$regular-weight: 400;
$thin-weight: 200;
$classname-color: #3D3DE6;
$classname-size: 11px;
$classname-bold: 500;
