//  PROJECT:     NeoCom.WS (NEOC.WS)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2017-2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Angular 4
//  DESCRIPTION: Angular source code to run on a web server almost the same code as on the Android platform.
//               The project has 3 clear parts. One is the Java libraries that are common for all platforms,
//               the second is the java microservices that compose the web application backend made with
//               SpringBoot technology and finally the web ui code made in typescript within the Angular
//               framework.


#iconsize-12 {
  height: 12px;
  width : 12px;
}

#iconsize-16 {
  height: 16px;
  width : 16px;
}

#iconsize-24 {
  height: 24px;
  width : 24px;
}

#iconsize-32 {
  height: 32px;
  width : 32px;
}

#iconsize-36 {
  height: 36px;
  width : 36px;
}

#iconsize-48 {
  height: 48px;
  width : 48px;
}

#iconsize-60 {
  height: 60px;
  width : 60px;
}

#iconsize-90 {
  height: 90px;
  width : 90px;
}
/* D E C O R A T O R S */

.glow-marked {
  color      : orange;
  font-weight: 600;
  text-shadow: 0 0 2px orange;
}

.glow-white {
  color      : white;
  font-weight: 600;
  text-shadow: 0 0 2px white;
}

.glow-red {
  color      : red;
  font-weight: 600;
  text-shadow: 0 0 2px red;
}
/* T E X T   E L E M E N T S */

%neocom-special-name {
  font-size  : $selected-text-size;
  font-weight: $semibold-weight;
  line-height: 1.3;
}

.neocom-selectable-name {
  @extend %neocom-special-name;
  color      : $selectable-name-color;
}
.neocom-selectable-name:hover {
  text-shadow: 0 0 2px $selectable-name-color;
}

.neocom-marked-name {
  @extend %neocom-special-name;
  color      : $marked-name-color;
  text-shadow: 0 0 2px $marked-name-color;
}
