<div class="neocom-panel" id="panelborder-white">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td *ngIf="hasIcon()"><img class="neocom-icon" src="{{getGroupIconReference()}}" id="iconsize-36"></td>
      <td width="80% " class="neocom-panel-column">
        <div>
          <span class="" id="neocom-ts18">{{getLabel()}}</span><br>
        </div>
      </td>
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <td width="5px" *ngIf="!isExpandable()">
        &nbsp;
      </td>
    </tr>
  </table>
</div>