<div class="insert-animation-disc neocom-panel" id="{{getPanelColor()}}" style="margin-bottom: 2px;">
  <!-- DRAG&DROP - MENU BLOCK -->
  <div droppable [dropScope]="getDropScope" [dragOverClass]="'dropAllowed'" [dragHintClass]="'dragOver'" class="panel-decorator-collapsed" (mouseenter)="panelEnter()" (mouseleave)="panelExit()" [ngClass]="{'panel-decorator-expanded-orange': isExpanded()}">
    <div *ngIf="variant == 'DETAILED'">
      <panel-menu-bar [menuContainer]="getMenuSupporter()"></panel-menu-bar>
    </div>
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON BLOCK -->
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <!-- CENTRAL BLOCK -->
        <td *ngIf="node.taskType == 'BUY'" width="95%" style="padding-left: 3px;">
          <neocom-buy-processing-task [node]="node" [variant]="getVariant()"></neocom-buy-processing-task>
        </td>
        <td *ngIf="node.taskType == 'BUYCOVERED'" width="95%" style="padding-left: 3px;">
          <neocom-buy-processing-task [node]="node" [variant]="getVariant()"></neocom-buy-processing-task>
        </td>
        <td *ngIf="node.taskType == 'MOVE'" width="95%" style="padding-left: 3px;">
          <neocom-move-processing-task [node]="node" [variant]="getVariant()"></neocom-move-processing-task>
        </td>
        <!-- <td *ngIf="node.getTaskType() == 'AVAILABLE'" style="" width="70%">
          <div id="neocom-ts16">
            <span class="neocom-selectable-name">{{getResourceName()}}</span><span style="margin-left: 5px;">[#{{getTypeId()}}]</span>
          </div>
        </td> -->
        <!-- RIGHT ARROW -->
        <td width="32px" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/res-ui/drawable/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="5px" *ngIf="!isExpandable()">
          &nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>
