.neocom-location {
  font-size  : 14px;
  text-shadow: 0 0 2px white;
}

.available {
  background-color: #052406;
}

.dropAllowed {
  background-color: #183465;
  opacity         : 1.0;
  border-color    : blue;
  border-style    : solid;
  border-width    : 1px 1px 1px 1px;
}

.dragOver {
  background-color: #213619;
}