<!-- S P I N N E R -->
<app-spinner-panel *ngIf="downloading" [title]="'Pending Fitting Requests...'"></app-spinner-panel>
<!-- N O D E   R E N D E R   P A N E L -->
<div *ngFor="let node of renderNodeList">
  <!-- <neocom-separator *ngIf="node.jsonClass === 'Separator'" [viewer]="getViewer()" [node]="node"></neocom-separator> -->
  <!-- <neocom-group-container *ngIf="node.jsonClass == 'GroupContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-group-container> -->
  <!-- <neocom-labeled-container *ngIf="node.jsonClass == 'LabeledContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-labeled-container> -->
  <!-- <neocom-eve-item *ngIf="node.jsonClass == 'EveItem'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-eve-item> -->
  <!-- <neocom-fitting *ngIf="node.jsonClass == 'Fitting'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-fitting> -->
  <!-- <neocom-eve-item *ngIf="node.jsonClass == 'FittingItem'" [viewer]="getViewer()" [node]="node.itemDetails" (mouseenter)="mouseEnter(node)"></neocom-eve-item> -->
  <neocom-information-panel *ngIf="node.jsonClass == 'InformationPanel'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-information-panel>
  <neocom-fitting-request *ngIf="node.jsonClass == 'FittingRequest'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)">THIS IS THE CONTENT FOR THE FITTING REQUEST</neocom-fitting-request>
</div>
