<div class="neocom-panel-container" style="width: 60%;">
  <div *ngFor="let node of getPanelContents()">
    <app-action *ngIf="node.jsonClass == 'Action'" [viewer]="getViewer()" [node]="node"></app-action>
    <!-- <neocom-credential *ngIf="node.jsonClass == 'Credential'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-credential>
    <neocom-group-container *ngIf="node.jsonClass == 'GroupContainer'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-group-container>
    <neocom-fitting *ngIf="node.jsonClass == 'Fitting'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-fitting> -->
    <!-- <neocom-fitting-item *ngIf="node.jsonClass == 'FittingItem'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-fitting-item> -->
    <!-- <neocom-asset *ngIf="node.jsonClass == 'FittingItem'" [viewer]="getViewer()" [node]="node.itemDetails" (mouseenter)="mouseEnter(node)"></neocom-asset> -->
    <!-- <neocom-login4-list *ngIf="render.jsonClass == 'Login'" [viewer]="getViewer()" [node]="render"></neocom-login4-list>
    <neocom-pilot4-login *ngIf="render.jsonClass == 'NeoComCharacter'" [viewer]="getViewer()" [node]="render"></neocom-pilot4-login>
    <neocom-pilot4-login *ngIf="render.jsonClass == 'Pilot'" [viewer]="getViewer()" [node]="render"></neocom-pilot4-login>
    <neocom-pilot4-login *ngIf="render.jsonClass == 'Corporation'" [viewer]="getViewer()" [node]="render"></neocom-pilot4-login> -->
  </div>
</div>