<div class="neocom-panel" id="{{getPanelColor()}}">
  <div class="panel-decorator-collapsed" [ngClass]="{'panel-decorator-expanded-red': isExpanded()}">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON BLOCK -->
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <!-- LEFT BLOCK -->
        <td class="neocom-panel-column" width="80%">
          <span class="neocom-selectable-name">{{node.title}}</span>
        </td>
        <!-- RIGHT BLOCK -->
        <td width="25%" class="neocom-panel-right-box" align="right " style="vertical-align: top;">
          <div class="neocom-classname">REGION</div>
          <div class="stack-counter">{{node.getStationCount()}}</div>
          <div class="neocom-label">STATIONS</div>
        </td>
        <!-- MENU BLOCK -->
        <td *ngIf="hasMenu()" width="5%" class="">
          <div class="neocom-menu-icon" (click)="clickMenu()" title="Click the menu to go to detail.">
            <img src="/assets/icons/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
          </div>
        </td>
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/res-ui/drawable/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="8px" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>
