.button-margin {
  margin-left : 10px;
  margin-right: 10px;
  width       : 90%;
}

.separator-margin {
  margin-left  : 10px;
  margin-right : 10px;
  width        : 90%;
  margin-top   : 15px;
  margin-bottom: 15px;
  // padding-bottom:15px;
}
