<!-- A C T I O N - B A R -->
<neocom-action-bar [title]="'DASHBOARD'" [subtitle]="'Selection of the testing/demo/POC page.'"></neocom-action-bar>

<!-- L E F T    C O L U M N -->
<div style="width: 45%; margin: 10px; float:left">
  <div class="neocom-marked-name" id="neocom-ts24" style="margin-bottom: 5px;">POC & Funtionalities</div>

  <a class="btn btn-outline-secondary btn-lg btn-block button-margin" [routerLink]="['/pocactionwrapper']">Action Faceted Wrapper</a>
  <a class="btn btn-outline-primary btn-lg btn-block button-margin" [routerLink]="['/esiauthorization']">ESI Authorization Test</a>
  <a class="btn btn-outline-danger btn-lg btn-block button-margin" [routerLink]="['/dragdrop']">Drag & Drop POC</a>
  <a class="btn btn-outline-secondary btn-lg btn-block button-margin" [routerLink]="['/menubar']">Panel Menu Bar POC</a>
  <a class="btn btn-outline-secondary btn-lg btn-block button-margin" [routerLink]="['/stylesctalog']">Styles Catalog</a>

  <div class="neocom-marked-name" id="neocom-ts24" style="margin-bottom: 5px;">Prototypes</div>

  <a class="btn btn-outline-secondary btn-lg btn-block button-margin" [routerLink]="['/dashboardtest']">App Dashboard</a>
  <!-- <a class="btn btn-outline-primary btn-lg btn-block button-margin" [routerLink]="['/manufactureui']">Manufacture UI</a> -->
  <a class="btn btn-outline-danger btn-lg btn-block button-margin" [routerLink]="['/actionrendering']">Action Rendering</a>
  <a class="btn btn-outline-secondary btn-lg btn-block button-margin" [routerLink]="['/menubartest']">Menu Bar Testing</a>
</div>

<!-- R I G H T    C O L U M N -->
<div style="width: 45%; margin: 10px; float:right">
  <div class="neocom-marked-name" id="neocom-ts24" style="margin-bottom: 5px;">Page Content</div>

  <a class="btn btn-outline-secondary btn-lg btn-block button-margin" [routerLink]="['/pilot/containers']">Only Container List</a>
  <a class="btn btn-outline-primary btn-lg btn-block button-margin" [routerLink]="['/corporation/launcher/fitting']">Corporation Fitting Manufacture Launcher</a>

  <a class="btn btn-outline-warning btn-lg btn-block button-margin" [routerLink]="['/pilot/92002067/assetsmanager']">Assets Manager -> Adam</a>
  <a class="btn btn-outline-warning btn-lg btn-block button-margin" [routerLink]="['/pilot/assetsbylocation']">Assets By Location -> Beth Ripley</a>
  <a class="btn btn-outline-warning btn-lg btn-block button-margin" [routerLink]="['/pilot/fittings']">Fitting List & Data</a>
  <a class="btn btn-outline-warning btn-lg btn-block button-margin" [routerLink]="['/pilot/92002067/manufactureresourcesbalance']">Manufacture Resources Balance -> Adam</a>
  <a class="btn btn-outline-warning btn-lg btn-block button-margin" [routerLink]="['/pilot/92002067/planetaryresources']">Planetary Resources -> Adam</a>
  <a class="btn btn-outline-warning btn-lg btn-block button-margin" [routerLink]="['/pilot/92002067/planetarymanager/optimizeprocess/system/30003752']">Planetary Optimization -> System</a>
  <a class="btn btn-outline-warning btn-lg btn-block button-margin" [routerLink]="['/actionsbyclass']">Actions Grouped by Class</a>

  <div class="separator-margin">
    <neocom-separator [viewer]="getViewer()" [node]="getSeparatorNode()"></neocom-separator>
  </div>

  <a class="btn btn-outline-warning btn-lg btn-block button-margin" [routerLink]="['/fittingprocessing/1001']">Process Fitting</a>
  <a class="btn btn-outline-danger btn-lg btn-block button-margin" [routerLink]="['/testprocessing/47773679']">Check all Types Processing & Rendering</a>
  <a class="btn btn-outline-warning btn-lg btn-block button-margin" [routerLink]="['/corporation/1427661573']">Corporation Tabbed Card</a>
  <a class="btn btn-outline-primary btn-lg btn-block button-margin" [routerLink]="['/pilot/92002067/publicdata']">Pilot Public Info</a>
</div>
