<!-- A C T I O N   B A R -->
<neocom-action-bar [title]="'PROCESSING CREDENTIAL'" [subtitle]="getDescription()"></neocom-action-bar>

<!-- S P I N N E R -->
<!-- <app-spinner-panel *ngIf="downloading" [title]="'Validating Authorization credentials...'"></app-spinner-panel> -->
<!-- H E A D E R -->
<div class="neocom-panel header-box" id="panelborder-white">
  <span class="proxima-black-ff" style="padding: 2px;">PROCESSING AUTHORIZATION CREDENTIALS</span>
</div>
<!-- L I S T I N G   &   A G G R E G A T I O N   P A N E L -->
<!-- M O D E L   V I E W   T R A N S F O R M A T I O N -->
<div class="neocom-panel" id="panelborder-white">
  <app-spinner-panel [title]="'Processing credential validation...'"></app-spinner-panel>
  <div class="neocom-selectable-name" id="neocom-ts18">{{code}}</div>
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="40px"><img class="" src="/assets/res-ui/drawable/defaulticonplaceholder.png" id="iconsize-36"></td>
      <td width="80% " class="neocom-panel-column">
        <div>
          <span class="" id="neocom-ts16">Processing credential validation...</span><br>
        </div>
      </td>
      <!-- RIGHT BLOCK -->
      <td width="20%" class="neocom-panel-right-box" align="right ">
      </td>
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <!-- <td width="5px" *ngIf="!isExpandable()">
        &nbsp;
      </td> -->
    </tr>
  </table>
</div>
