<div>
  <!-- <span>DETAILED INFORMATION SECTION NodeClass: {{getSelectedNodeClass()}} - Test: {{getSelectedNodeClass() === 'Credential'}}</span><br> -->
  <span>{{getSelectedNode()}}</span>
  <neocom-processing-task *ngIf="getSelectedNodeClass() === 'ProcessingTask'" [viewer]="getViewer()" [node]="getSelectedNode()">
  </neocom-processing-task>
</div>
