<div class="neocom-panel" [ngClass]="getColorSchemePanelStyle()">
    <div class="nc-panel-title">{{title}}</div>
    <!-- <v1-spinner-panel *ngIf="downloading" [title]="'Downloading Fittings...'"></v1-spinner-panel> -->
    <div *ngFor="let node of renderNodeList">
      <neocom-fitting-render draggable class="" [container]="self" [node]="node" [colorScheme]="'panel-pink'"></neocom-fitting-render>
    </div>
  </div>