<neocom-action-bar><span id="neocom-ts14">Mock status: {{getMockStatus()}}</span></neocom-action-bar>
<div fxLayout="row">
  <div style="width: 50%; display: inline-block;">
    <neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Downloading Rendering Data',subtitle:''}"></neocom-spinner-central>
    <neocom-component-factory [dataSource]="getDataSource()"></neocom-component-factory>
  </div>
  <div style="width: 50%; float: right;">
    <div class="proxima-black-ff" style="border-bottom: 1px solid white;">RIGHT PANEL - Style Testing</div>
    <div class="neocom-selectable-name" id="neocom-ts16">Selectable Name 16px [Din1451]</div>
    <div class="neocom-panel neocom-selectable-name proxima-ff" id="neocom-ts16">Selectable Name 16px [Proxima Nova]</div>
    <div class="neocom-selectable-name proxima-ff" id="neocom-ts16" style="font-weight: 100;">Selectable Name 16px [Proxima Nova - 100]</div>
    <div class="neocom-selectable-name proxima-ff" id="neocom-ts16" style="font-weight: 400;">Selectable Name 16px [Proxima Nova - 400]</div>
    <div class="neocom-selectable-name proxima-ff" id="neocom-ts16" style="font-weight: 600;">Selectable Name 16px [Proxima Nova - 600]</div>
    <div class="neocom-selectable-name proxima-ff" id="neocom-ts16" style="font-weight: 800;">Selectable Name 16px [Proxima Nova - 800]</div>
    <div class="neocom-marked-name" id="neocom-ts16">Marcable Name 16px [Din1451]</div>
    <div class="neocom-marked-name proxima-ff" id="neocom-ts16" style="font-weight: 400;">Marcable Name 16px [Proxima Nova - 400]</div>
    <div class="neocom-panel proxima-ff" id="panelborder-red">Default Text [Proxima Nova]</div>
    <div class="neocom-label">Label [Roboto]</div>
  </div>
</div>
