<div>
  <div class="spinner-position">
    <span>{{getTitle()}}<br>Waiting: {{getWaitingTime() | date:'mm:ss'}} secs</span>
    <span class="spinner-in spinner-size60"></span>
    <div class="spinner-out spinner-size70 spinner-red"></div>
  </div>
</div>
