<neocom-action-bar [title]="'FITTING MANAGER'" [subtitle]="'Show the list of available Fittings'"></neocom-action-bar>
<div fxLayout="row">
  <div style="width: 60%; display: inline-block;">
    <!-- <neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Downloading Fitting Actions',subtitle:''}"></neocom-spinner-central> -->
    <app-spinner-panel *ngIf="downloading" [title]="'Downloading Fitting Actions...'"></app-spinner-panel>
    <!-- <neocom-component-factory [dataSource]="getDataSource()"></neocom-component-factory> -->
    <div *ngFor="let node of renderNodeList">
      <fv1-group-container *ngIf="node.jsonClass == 'GroupContainer'" [container]="self" [node]="node"></fv1-group-container>
      <neocom-fitting *ngIf="node.jsonClass == 'Fitting'" [viewer]="getViewer()" [node]="node" (mouseenter)="mouseEnter(node)"></neocom-fitting>
      <neocom-eve-item *ngIf="node.jsonClass == 'FittingItem'" [viewer]="getViewer()" [node]="node.itemDetails"
        (mouseenter)="mouseEnter(node)">
      </neocom-eve-item>
    </div>
  </div>
  <div style="width: 40%; float: right;">
    <!-- <neocom-fitting-request-list-panel></neocom-fitting-request-list-panel> -->
  </div>
</div>