.info-message{
  font-family: 'Proxima Nova';
  font-size: 28px;
}
@font-face {
  font-family: 'Proxima Nova Black';
  src: url('/assets/Proxima Nova Alt Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/Proxima Nova Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/Proxima Nova Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/Proxima Nova Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/Proxima Nova Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

.proxima-ff {
  font-family: 'Proxima Nova';
}

.proxima-black-ff {
  font-family: 'Proxima Nova Black';
}
@font-face {
  font-family: 'Space Mono';
  src: url('/assets/SpaceMono-BoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

.space-ff {
  font-family: 'Space Mono';
}
.montserrat-ff{
  font-family: 'Montserrat', sans-serif;
}
