<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu">Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <div *ngIf="!credentialValid">
    <h2 class="info-message">No existen aún datos del paciente. Por favor rellene el formulario.</h2>
    <button ion-button class="citamed-button" id="bt-height4" color="secondary" (click)='openCredentialForm()'>Ir a Datos de Paciente</button>
  </div>
  <div *ngIf="credentialValid">
    <ion-card *ngIf="credentialValid" class="citamed-card">
      <ion-card-header>
        <span class="container-title">Datos Paciente</span>
      </ion-card-header>

      <ion-card-content>
        <ion-label class="patient-data">{{credential.getIdentificador()}}</ion-label>
        <ion-label class="citamed-label">IDENTIFICADOR</ion-label>
        <ion-label class="patient-data">{{credential.getNombre()}}</ion-label>
        <ion-label class="citamed-label">NOMBRE</ion-label>
        <ion-label class="patient-data">{{credential.getTelefonoContacto()}}</ion-label>
        <ion-label class="citamed-label">Teléfono de Contacto</ion-label>
      </ion-card-content>
    </ion-card>
    <div class="citamed-block">
      <button ion-button class="citamed-button" id="bt-height4" color="secondary" (click)='newAppointment();'>Solicitar Nueva Cita</button>
      <button ion-button class="citamed-button" id="bt-height4" color="danger" (click)="clearCredential();">Borrar Credenciales</button>
    </div>
    <!-- <div class="citamed-block">
      <button ion-button class="citamed-button" id="bt-height3" menuToggle>Activar/Deactivar Menu</button>
    </div> -->
  </div>
  <div style="font-family: 'Roboto'">This is ROBOTO</div>
  <div class="montserrat-ff" style="font-size: 24px;">This is MONTSERRAT</div>
  <div class="space-ff" style="font-family: 'Space Mono'">This is SPACE MONO</div>
  <div class="proxima-ff">This is PROXIMA NOVA</div>
</ion-content>
