<div fxLayout="row">
  <div style="width: 60%; display: inline-block;">
    <neocom-header></neocom-header>
  </div>
  <div style="width: 40%; float: right;">
    <ui-server-status></ui-server-status>
  </div>
</div>
<!-- N O T I F I C A T I O N S -->
<simple-notifications class="rounded" [options]="options" (onCreate)="created()" (onDestroy)="destroyed()"></simple-notifications>
<router-outlet></router-outlet>
