<!-- A C T I O N   B A R -->
<neocom-action-bar [title]="'PLANETARY MANAGER'" [subtitle]="'Planetary Resources classified by Location and ready for Optimization Processing.'"></neocom-action-bar>

<div fxLayout="row">
  <!-- L E F T   C O L U M N - P L A N E T A R Y   R E S O U R C E S -->
  <div style="width: 60%; display: inline-block;">
    <!-- S P I N N E R -->
    <app-spinner-panel *ngIf="downloading" [title]="'Downloading planetary resources...'"></app-spinner-panel>
    <!-- H E A D E R -->
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">PLANETARY RESOURCES BY LOCATION</span>
    </div>
    <!-- L I S T I N G   &   A G G R E G A T I O N   P A N E L -->
    <!-- M O D E L   V I E W   T R A N S F O R M A T I O N -->
    <div *ngFor="let node of renderNodeList">
      <neocom-separator *ngIf="node.jsonClass == 'Separator'" [viewer]="getViewer()" [node]="node"></neocom-separator>
      <neocom-region *ngIf="node.jsonClass == 'Region'" [viewer]="getViewer()" [node]="node" [variant]="'STANDARD'"></neocom-region>
      <!-- <selectable-location *ngIf="node.jsonClass == 'Location'" [viewer]="getViewer()" [node]="node" [variant]="'STANDARD'" (click)="toggleSelection(node)"></selectable-location> -->
      <selectable-location *ngIf="node.jsonClass == 'LocationFacetedAssetContainer'" [viewer]="getViewer()" [node]="node" [variant]="'STANDARD'" (click)="toggleSelection(node)"></selectable-location>
      <planetary-assetv1 *ngIf="node.jsonClass == 'NeoComAsset'" [viewer]="getViewer()" [node]="node" [variant]="'STANDARD'" (click)="toggleSelection(node)"></planetary-assetv1>
    </div>
  </div>
  <!-- R I G H T   C O L U M N - L O C A T I O N   D E T A I L   &   A C T I O N S -->
  <div style="width: 40%; float: right;">
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">DETAILED LOCATION INFORMATION</span>
    </div>
    <selectable-location *ngIf="getSelectedNodeClass() === 'LocationFacetedAssetContainer'" [viewer]="getViewer()" [node]="getSelectedNode()" [variant]="'DETAILED'"></selectable-location>
    <planetary-assetv1 *ngIf="getSelectedNodeClass() === 'NeoComAsset'" [viewer]="getViewer()" [node]="getSelectedNode()" [variant]="'DETAILED'" (click)="toggleSelection(node)"></planetary-assetv1>
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">STYLES CATALOG</span>
      <ui-style-catalog></ui-style-catalog>
    </div>
  </div>
</div>
