<!-- A C T I O N   B A R -->
<neocom-action-bar [title]="'ENTER NEW CREDENTIAL ESI PROCESS'" [subtitle]="'Create a new credential through the ESI authorization flow.'"></neocom-action-bar>

<div style="width: 60%; float:left">
  <neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Downloading Credential list',subtitle:''}"></neocom-spinner-central>
  <neocom-component-factory [dataSource]="getDataSource()"></neocom-component-factory>
  <app-new-login></app-new-login>
</div>
