<div class="neocom-panel" id="{{getPanelColor()}}">
  <div class="panel-decorator-collapsed" [ngClass]="{'panel-decorator-expanded-orange': isExpanded()}">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON BLOCK -->
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <!-- LEFT BLOCK -->
        <td class="neocom-panel-column" width="80%">
          <div class="neocom-selectable-name">{{node.name}}
            <span class="neocom.label">&nbsp;[{{node.assetId}}]</span>
            <span class="neocom-data imaki-ff"> - {{node.groupName}}</span>
          </div>
          <div class="neocom-name" id="neocom-ts16">{{node.userLabel}}</div>
        </td>
        <td width="20%" class="neocom-panel-right-box" align="right ">
          <div class="neocom-classname-white" id="neocom-ts14">{{node.groupName}}</div>
          <div class="stack-counter lined-bottomline">{{node.iskValue | number:'1.0-0'}}</div>
          <div class="neocom-label right-data">HULL VALUE</div>
        </td>
        <!-- MENU BLOCK -->
        <td *ngIf="hasMenu()" width="5%" class="">
        </td>
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/res-ui/drawable/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="8px" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>
