<!-- D E F A U L T   V A R I A N T -->
<div *ngIf="getVariant() === '-DEFAULT-'" class="neocom-panel" [ngClass]="getColorSchemePanelStyle()" (click)="node.toggleSelected()">
  <div>
    <img class="neocom-icon" src="{{getIconReference()}}" id="iconsize-24">
  </div>
  <div style="flex-grow: 95;">
    <span class="neocom-expandable-name" id="neocom-ts18">{{getUserLabel()}}</span>
    <span class="container-class">{{getTitle()}}</span>
  </div>
</div>

<!-- C O N T A I N E R - S E L E C T I O N -->
<div draggable *ngIf="getVariant() === '-CONTAINER-SELECTION-'" class="neocom-panel" [ngClass]="getColorSchemePanelStyle()"
  (click)="node.toggleSelected()">
  <div>
    <img class="neocom-icon" src="{{getIconReference()}}" id="iconsize-24">
  </div>
  <div style="flex-grow: 95;">
    <span class="neocom-expandable-name" id="neocom-ts18">{{getUserLabel()}}</span>
    <span class="container-class">{{getTitle()}}</span>
  </div>
</div>
