<div class="neocom-panel header-box" id="panelborder-red" style="height: 70px;">
  <span class="big-header elemental-ff">{{getAppName()}}</span>
  <span class="version mons-olympia-ff" style="margin-left:10px;">{{getVersion()}}</span>
</div>
