.header-box {
  /* border-bottom: #A0A0F0 2px solid; */
  /* box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.73); */
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 10px;
  /* margin: 1px;
  margin-top: 0px;
  margin-right: 3px; */
}

.big-header {
  font-size: 40px;
  text-shadow: 0px 0px 6px white;
}

.version {
  color: #50B71D;
  /* font-family: "Elemental"; */
  font-size: 20px;
  text-shadow: 0px 0px 6px #50B71D;
}
