<neocom-action-bar [title]="'TESTING THE MENUBAR'" [subtitle]="''"></neocom-action-bar>
<div fxLayout="row">
  <div style="width: 60%; display: inline-block;">
    <div class="neocom-panel header-box" id="panelborder-white" style="margin-bottom: 2px;">
      <panel-menu-bar [menuContainer]="getMenuSupporter()"></panel-menu-bar>
      <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <!-- ICON BLOCK -->
          <td width="40px">
            <img class="neocom-icon" id="iconsize-36" src="/assets/res-ui/drawable/defaulticonplaceholder.png">
          </td>
          <td>
            <table width="100%" [style.background-color]="stateColor">
              <tr>
                <!-- LEFT BLOCK -->
                <td>
                  <div class="neocom-selectable-name">Some resource Name</div>
                </td>
                <!-- RIGHT BLOCK -->
                <td class="neocom-panel-right-box" align="right">
                  <div class="neocom-classname">&nbsp;</div>
                  <div class="stack-counter">20.00 M3</div>
                  <div class="neocom-label right-data">VOLUME</div>
                </td>
                <td class="neocom-panel-right-box" align="right">
                  <div class="neocom-classname">MOVE TASK</div>
                  <div class="stack-counter">3</div>
                  <div class="neocom-label right-data">QUANTITY</div>
                </td>
              </tr>
            </table>
          </td>
          <!-- SEPARATOR WHEN NO RIGHT ARROW -->
          <td width="5px">
            &nbsp;
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div style="width: 40%; float: right">
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">MENU TO APPLY TO THE PROCESSING TASK</span>
    </div>
  </div>
</div>
