<div class="neocom-panel" id="{{getPanelColor()}}">
  <!-- <div class="neocom-panel-inside" id="content-small"> -->
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" [ngClass]="{'target-resource': node.target}">
    <tr>
      <td width="36px">
        <img class="neocom-icon" id="iconsize-32" src="{{getIconUrl()}}">
      </td>
      <td>
        <div>
          <span class="neocom-marked-name">{{node.name}}</span><br>
          <span class="stack-counter" id="neocom-ts16">{{getNormalizedQuantity() | number:'1.0-0'}}</span>
          <span class="neocom-label">UNITS</span>
        </div>
      </td>
      <td width="80%" align="right">
        <div>
          <span class="stack-counter" id="neocom-ts16">{{getMarketValue() | number:'1.0-0'}} ISK</span><br>
          <span class="neocom-label">MARKET VALUE</span>
        </div>
      </td>
    </tr>
  </table>
  <!-- </div> -->
</div>
