#content-small:hover {
  opacity: 1.0
}

#content-small:before, #content-small:after, #content-small>:first-child:before, #content-small>:first-child:after {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px orange solid;
  filter: blur(1px);
  content: ' ';
}

#content-small:before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
}

#content-small:after {
  top: 0;
  right: 0;
  border-width: 2px 2px 0 0;
}

#content-small>:first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 2px 2px 0
}

#content-small>:first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 2px 2px
}

.neocom-panel-inside {
  font-family: "Mons Olympia";
  background-color: #080808; // Light black
  cursor: pointer;
  line-height: 1.0;
  margin-bottom: 5px;
  position: relative;
  height: auto;
  opacity: 0.8;
  margin-left: 3px;
  width: 97%;
}

.target-resource {
  background-color: #082008;
}
