$label-size: 9px;

%neocom-label {
  color      : white;
  font-family: 'Roboto',sans-serif,'Proxima Nova';
  font-size  : $label-size;
  font-weight: normal;
  line-height: 1.0;
}

.location-totals-label {
  @extend %neocom-label;
  color: white;
  float: right;
}

.neocom-arrow-expanded {
  transform: rotate(90deg);
}

%neocom-location {
  font-weight: bolder;
}

.neocom-location-security {
  @extend %neocom-location;
  color: red;
}

.menu-collapsed {
  width: 27px;
}

.location-menu-expanded {
  border       : 1px solid white;
  // border-radius: 3px;
  // box-shadow   : inset 0 0 4px 1px rgba(255, 255, 255, 0.73), 0 0 4px 1px rgba(255, 255, 255, 0.73);
  // margin       : 1px;
  width        : 130px;
  padding: 2px;
    /* border-radius: 5px; */
    /* border-collapse: separate; */
    /* margin: 3px; */
    background-color: #202020;
}

.neocom-checkbox {
  margin-left : -13px;
  margin-right: 2px;
  margin-top  : 2px;
  padding     : 0;
}

.location-role-image {
  border       : 1px solid white;
  border-radius: 2px;
  height       : 16px;
  width        : 16px;
}

.neocom-microlabel {
  font-size: 9px;
}

.menu-hr {
  border-color: white;
  border-width: 2px;
  margin      : 2px 0;
}
