<div class="neocom-panel" id="{{getPanelColor()}}">
  <div class="panel-decorator-collapsed" [ngClass]="{'panel-decorator-expanded-orange': isExpanded()}">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON BLOCK -->
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <!-- LEFT BLOCK -->
        <td class="neocom-panel-column">
          <span class="neocom-selectable-name">{{node.system}}</span>
          <span class="neocom.label" id="neocom-ts14">[{{getIdentifier()}}]</span>
          <div class="lined-bottomline">
            <!-- <span class="neocom-location-security" id="neocom-ts14">[{{node.securityValue | number:'1.1-1'}}]</span> -->
            <!-- <span class="neocom-location" id="neocom-ts14">{{node.name}}</span> -->
          </div>
          <div class="">
            <span class="neocom-label">STATION</span>
          </div>
        </td>
        <!-- RIGHT BLOCK -->
        <td class="neocom-panel-right-box" width="35%" align="right ">
          <div class="neocom-classname">LOCATION</div>
          <div class="neocom-marked-name" id="neocom-ts14">{{node.region}} ► {{node.constellation}}</div>
          <!-- <div class="stack-counter " style="padding-bottom: 1px;">{{node.getFormattedStackCount()}}</div> -->
          <div class="neocom-label ">ITEMS</div>
        </td>
        <!-- MENU BLOCK -->
        <td *ngIf="hasMenu()" [ngClass]="{'menu-collapsed': hasMenu(),'location-menu-expanded': isMenuExpanded()}">
          <div class="neocom-menu-icon" (click)="toggleMenu()" title="Click the menu to expand/collapse.">
            <img src="/assets/res-ui/drawable/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
            <span *ngIf="!isMenuExpanded()"><span class="fas fa-chevron-right" style="vertical-align: middle;"></span></span>
            <span *ngIf="isMenuExpanded()"><span class="fas fa-chevron-down" style="vertical-align: middle;"></span></span>
          </div>
          <div *ngIf="isMenuExpanded()">
            <div>
              <span class="neocom-microlabel">LOCATION ROLES</span>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input neocom-checkbox" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"><img src="/assets/res-sde/drawable/industry.png" class="location-role-image" /><span>MANUFACTURE</span></label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input neocom-checkbox" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"><img src="/assets/res-sde/drawable/research.png" class="location-role-image" /><span>INVENTION</span></label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input neocom-checkbox" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"><img src="/assets/res-sde/drawable/reprocessing.png" class="location-role-image" /><span>RESOURCE</span></label>
            </div>
            <hr class="menu-hr" />
            <div>
              <img src="/assets/res-sde/drawable/log.png" class="location-role-image" /><span>CHANGE LOCATION DATA</span>
            </div>
          </div>
        </td>
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/res-ui/drawable/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="8px" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>
      <tr *ngIf="variant == 'DETAILED'">
        <td colspan="2">
          <table width="100%">
            <tr>
              <td width="60%" vertical-align="bottom">
                <span class="location-totals-label">TOTAL VALUE</span>
              </td>
              <td width="40%" vertical-align="bottom">
                <span class="right-data" id="neocom-ts16">{{scaledPrice(node.totalValueCalculated) | number:'1.2-2'}} {{scale()}}</span>
              </td>
            </tr>
            <tr>
              <td width="60%" vertical-align="bottom">
                <span class="location-totals-label">TOTAL VOLUME</span>
              </td>
              <td width="40%" vertical-align="bottom">
                <span class="right-data" id="neocom-ts16">{{node.totalVolumeCalculated | number:'1.2-2'}} M3</span>
              </td>
            </tr>
          </table>
          <!-- <div *ngIf="!node.downloaded" class="right-data">
            <span class="location-totals-label">&nbsp;&nbsp;&nbsp;&nbsp;TOTAL VALUE</span>
            <span class="right-data neocom-ts16">- ISK</span>
            <br>
            <span class="location-totals-label">&nbsp;TOTAL VOLUME</span>
            <span class="right-data neocom-ts16">- M3</span>
          </div> -->
          <!-- <div class="right-data">
            <br>
          </div> -->
        </td>
      </tr>
    </table>
  </div>
</div>
