.node-center {
  opacity         : 0.8;
  margin          : 0;
  border-radius   : 6px;
  margin-bottom   : 2px;
  padding-bottom  : 7px;
  padding-top     : 7px;
  padding-left    : 16px;
  color           : white;
  font-family     : 'Proxima Nova';
  font-weight     : 600;
  background-color: #B3C6FF;
  font-size       : 20px;
}

.node-speciality {
  opacity         : 0.8;
  margin          : 0;
  border-radius   : 6px;
  margin-bottom   : 2px;
  padding-bottom  : 7px;
  padding-top     : 7px;
  padding-left    : 16px;
  background-color: #E6ECFF;
  color           : black;
  font-family     : 'Proxima Nova';
  font-weight     : 600;
  font-size       : 20px;
  opacity         : 0.7;
}

.node-doctor {
  font-weight     : 100;
  font-size       : 18px;
  border-radius   : 6px;
  background-color: white;
  opacity         : 0.8;
  margin          : 0;
  padding         : 0 0 0 16px;
  margin-bottom   : 2px;
  font-family     : 'Proxima Nova';
}

.node-doctor-name {
  font-size  : 20px;
  font-weight: 600;
}
