<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu">Medicos Disponibles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <ion-item-group>
    <div *ngFor="let node of renderNodeList">
      <ion-label *ngIf="node.jsonClass == 'Centro'" class="node-center">{{node.getNombre()}}</ion-label>
      <ion-label *ngIf="node.jsonClass == 'Especialidad'" class="node-speciality">{{node.nombre}}</ion-label>
      <button ion-item *ngIf="node.jsonClass == 'Medico'" (click)='medicClick(node);' class="node-doctor">
        <span class="node-doctor-name">{{node.tratamiento}}&nbsp;{{node.apellidos}}, {{node.nombre}}</span>
        <span *ngIf="inDevelopment();">[{{node.id}}]</span>
        <br />
        <span>{{node.localidad}} - {{node.direccion}}</span><br />
        <span>{{node.horario}}</span><br />
        <span>{{node.telefono}}</span>
      </button>
    </div>
  </ion-item-group>
</ion-content>
