<div class="item-pending-save" [ngClass]="{'item-saved': isSaved()}">
  <div *ngIf="!isSaved()">
    <span class="fas fa-times" style="vertical-align: top;"></span><span>Dirty</span>
  </div>
  <div *ngIf="isSaved()">
    <span class="fas fa-check" style="vertical-align: top;"></span><span>Saved</span>
  </div>
</div>
