<!-- S P I N N E R -->
<app-spinner-panel *ngIf="downloading" [title]="'Downloading hull manufacture requests...'"></app-spinner-panel>
<!-- H E A D E R -->
<div class="neocom-panel header-box" id="panelborder-white">
  <span class="proxima-black-ff" style="padding: 2px;">HULL FITTING REQUESTS MINERAL DEMANDS</span>
</div>
<!-- H U L L / S T R U C T U R E   E N T R I E S -->
<div class="neocom-panel" id="panelborder-red">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <!-- MINERAL HEADER -->
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
      <td *ngFor="let resource of mineralCatalog" width="8%" align="center">
        <!-- <span>{{resource.name}}</span> -->
        <industry-mineral-header [resource]="resource"></industry-mineral-header>
      </td>
      <td width="10%">
        &nbsp;
      </td>
    </tr>
    <!-- HULL/STRUCTURE MINERAL REQUIREMENTS -->
    <tr *ngFor="let req of requests">
      <!-- RED DOWN ARROWS -->
      <td width="36px">
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowdownred.png" style="position: absolute;"><br />
        <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowdownred.png">
      </td>
      <!-- HULL BLUEPRINT AND DATA -->
      <td width="25%">
        <industry-hull-identification [hull]="req.getBlueprint()" [copies]="req.getCopies()"></industry-hull-identification>
      </td>
      <!-- HULL MINERAL DEMANDS -->
      <td>
        <industry-manufacture-mineral [resource]="req.getMineral(34)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td>
        <industry-manufacture-mineral [resource]="req.getMineral(35)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td>
        <industry-manufacture-mineral [resource]="req.getMineral(36)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td>
        <industry-manufacture-mineral [resource]="req.getMineral(37)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td>
        <industry-manufacture-mineral [resource]="req.getMineral(38)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td>
        <industry-manufacture-mineral [resource]="req.getMineral(39)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td>
        <industry-manufacture-mineral [resource]="req.getMineral(40)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <td>
        <industry-manufacture-mineral [resource]="req.getMineral(11399)" [isExpense]="true" style="margin-right: 1px;"></industry-manufacture-mineral>
      </td>
      <!-- ENABLE/DISABLE ACOUNTING MENU -->
      <td width="10%">
        <div class="" fxLayout="row">
          <input type="checkbox" style="vertical-align: middle;" id="exampleCheck1">
          <span>TOGGLE REQ.</span>
        </div>
      </td>
    </tr>
  </table>
</div>
