/* I C O N S */
.neocom-selectable-name {
  color      : #50B71D;
  font-size  : 18px;
  font-weight: 500;
  line-height: 1.3;
  text-shadow: 0 0 2px #50B71D;
}
@keyframes InsertAnimation {
  0% {
    padding-left: 800px;
    // height: 1px;
    opacity     : 0.0;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    padding-left: 0;
    // height:auto !important;
  }
}

.insert-animation {
  animation: InsertAnimation 2s;
}