<div class="insert-animation" id="panelborder-red" style="margin-bottom: 2px;">
  <div class="panel-decorator-collapsed" [ngClass]="{'panel-decorator-expanded-red': node.expanded}">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <td style="padding-left: 3px;" width="80%">
          <div class="neocom-selectable-name">{{node.itemName}}[#{{node.typeId}}]</div>
          <!-- <div class="neocom-data imaki-ff">[{{node.assetID}}]-{{node.category}}/{{node.groupName}}</div> -->
          <!-- <div class="imaki-ff"> -->
          <div class="mons-olympia-ff neocom-ts16">{{node.completedQty}}/{{node.requestQty}}</div>
          <!-- <span class="mons-olympia-ff neocom-ts16">{{totalValueIsk() | number:'1.0-0'}} ISK</span> -->
          <!-- </div> -->
          <!-- <div class="lined-bottomline">&nbsp;</div> -->
          <!-- <div class="neocom-label">
            <span class="left-data">ITEM VALUE</span>
            <span class="right-data">TOTAL VALUE</span>
          </div> -->
        </td>
        <!-- RIGHT BLOCK -->
        <td width="20%" class="neocom-panel-right-box" align="right">
          <!-- <div class="stack-counter lined-bottomline">{{node.quantity | number:'1.0-0'}}</div>
          <div class="neocom-label right-data">NO. ITEMS</div>
          <div class="lined-bottomline right-data" style="padding-top: 0px;" id="neocom-ts16">{{totalVolume() | number:'1.0-0'}} M3</div>
          <div class="neocom-label right-data">VOLUME</div> -->
        </td>
        <!-- MENU BLOCK -->
        <td *ngIf="hasMenu()" width="5%" class="">
          <div class="">
            <img src="/assets/icons/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
          </div>
        </td>
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="5%" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>