//  PROJECT:     CitaMed.paciente(CITM.ION)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Ionic 3.20.
//  DESCRIPTION: CitaMed. Sistema S3. Aplicacion Ionic con estructura muy similar a las aplicaciones Angular
//               que genera paquetes para Android e Ios. Este aplicativo es el que se debe ran instalar los
//               pacientes para poder acceder a la lista de servicios disponibles y poder reservar una cita
//               medica con los proceedores disponibles.
// Collects all the styles for the pages.
// On Ionic the styles are not local to the page but are shared on all of them.
// To avoid style duplication and conflicts collect all them into this place.

//--- C O N T A I N E R S
@media (max-width: 1200px) {
  .container-title {
    padding-bottom: 10px;
    line-height   : 1.5;
    font-family   : 'Proxima Nova Black';
    font-size     : 2.5rem;
  }
}
@media (max-width: 768px) {
  .container-title {
    padding-bottom: 10px;
    line-height   : 1.2;
    font-family   : 'Proxima Nova Black';
    font-size     : 2.0rem;
  }
}
@media (max-width: 480px) {
  .container-title {
    padding-bottom: 10px;
    line-height   : 1.0;
    font-family   : 'Proxima Nova Black';
    font-size     : 1.5rem;
  }
}

//--- F O R M S   &   C O N T E N T S
.citamed-button {
  border-radius: 8px;
  width        : 80%;
  margin-left  : auto;
  margin-right : auto;
  display      : block;
}

.citamed-card {
  width        : 100%;
  border-radius: 10px;
  margin       : 0;
  opacity      : 0.7;
}

.citamed-block {
  margin : 20px 10px;
  opacity: 0.9;
}

.patient-data {
  font-size    : 22px;
  margin-bottom: 0;
  font-family  : 'Proxima Nova';
  font-weight  : 200;
}

.citamed-label {
  font-size  : 12px;
  color      : darkgray;
  margin-top : 0;
  font-family: 'Roboto';
}

//--- P A G E   B U T T O N S
.citamed-cita {
  border-radius   : 6px;
  background-color: #E6ECFF;
  margin-left     : 16px;
  margin-right    : 16px;
  width           : 95%;
  font-size       : 18px;
  font-weight     : 300;
  font-family     : 'Proxima Nova';
  margin-bottom   : 2px;
  opacity         : 0.8;
  border          : 2px solid #B3C6FF;
}

.citamed-cita-slot {
  font-weight: 600;
  font-size  : 20px;
}

//--- F O R M   I N P U T S
.underline-red {
  border-bottom: 1px solid red;
}

.underline-green {
  border-bottom: 1px solid green;
}
