//  PROJECT:     CitaMed.paciente(CITM.ION)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Ionic 3.20.
//  DESCRIPTION: CitaMed. Sistema S3. Aplicacion Ionic con estructura muy similar a las aplicaciones Angular
//               que genera paquetes para Android e Ios. Este aplicativo es el que se debe ran instalar los
//               pacientes para poder acceder a la lista de servicios disponibles y poder reservar una cita
//               medica con los proceedores disponibles.
/* F O N T S */

@font-face {
  font-family: 'Proxima Nova Black';
  src: url('/assets/Proxima Nova Alt Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/Proxima Nova Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/Proxima Nova Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/Proxima Nova Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/Proxima Nova Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

.proxima-ff {
  font-family: 'Proxima Nova';
}

.proxima-black-ff {
  font-family: 'Proxima Nova Black';
}

@font-face {
  font-family: "Elemental";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Elemental End.ttf") format('truetype');
}

@font-face {
  font-family: "Elemental";
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/Elemental End Italic.ttf");
}

.elemental-ff {
  font-family: "Elemental";
}

@font-face {
  font-family: 'Mons Olympia';
  font-style: italic;
  font-weight: bold;
  src: url("/assets/fonts/Mons Olympia Bold Italic.otf");
}

@font-face {
  font-family: 'Mons Olympia';
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/Mons Olympia Bold.otf");
}

@font-face {
  font-family: 'Mons Olympia';
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/Mons Olympia Italic.otf");
}

@font-face {
  font-family: 'Mons Olympia';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Mons Olympia.otf");
}

.mons-olympia-ff {
  font-family: "Mons Olympia";
}

@font-face {
  font-family: 'Prototype';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Prototype.ttf");
}

.prototype-ff {
  font-family: "Prototype";
}

/* S I Z E S */

#ts40 {
  font-size: 40px;
}
#ts36 {
  font-size: 36px;
}
#ts30 {
  font-size: 30px;
}

#ts24 {
  font-size: 24px;
}

#ts20 {
  font-size: 20px;
}

#ts18 {
  font-size: 18px;
}

#ts16 {
  font-size: 16px;
}

#ts14 {
  font-size: 14px;
}

#ts12 {
  font-size: 12px;
}

#ts11 {
  font-size: 11px;
}

#ts10 {
  font-size: 10px;
}

#ts9 {
  font-size: 10px;
}

#ts8 {
  font-size: 10px;
}
