<div class="neocom-panel" id="panelborder-red">
  <div class="panel-decorator-collapsed" [ngClass]="{'panel-decorator-expanded-red': node.expanded}">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <!-- <a class="no-underline" [routerLink]="['/pilot',node.getAccountId()]"> -->
      <tr>
        <td><img class="neocom-icon" src="/assets/res-sde/drawable/grouplist.png" id="iconsize-36"></td>
        <td width="80% " class="neocom-panel-column">
          <div>
            <span class="neocom-selectable-name" id="neocom-ts16">{{node.accountName}}</span><br>
          </div>
        </td>
        <!-- RIGHT BLOCK -->
        <td width="20%" class="neocom-panel-right-box" align="right ">
          <div class="neocom-classname">CREDENTIAL</div>
          <div class="stack-counter">{{node.accountId}}</div>
        </td>
        <!-- MENU BLOCK -->
        <td *ngIf="hasMenu()" width="5%" class="">
          <div class="">
            <img src="/assets/icons/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
            <!-- </a> -->
          </div>
        </td>
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/res-ui/drawable/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="5%" *ngIf="!isExpandable()">
          &nbsp;
        </td>
      </tr>
      <!-- </a> -->
    </table>
  </div>
</div>
<!-- <div>{{getRenderVariant()}}</div> -->
<!-- <div *ngIf="getRenderVariant() === 'DETAIL'" class="neocom-panel" id="panelborder-red">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td><img class="neocom-icon" src="/assets/res-window/drawable/grouplist.png" id="iconsize-48"></td>
    </tr>
    <tr>
      <td width="80% " class="neocom-panel-column">
        <div>
          <span class="neocom-selectable-name" id="neocom-ts20">{{node.accountName}}</span><br>
        </div>
      </td>
    </tr>
  </table>
</div> -->
