<!-- <div  *ngFor="let node of nodes4Render" [dragData]="node" [dragClass]="'dragInAction'"> -->
<div class="insert-animation neocom-panel" id="{{getPanelColor()}}" style="margin-bottom: 2px;">
  <div draggable class="panel-decorator-collapsed" [ngStyle]="stateStyles" [dragScope]="'default'" [dragClass]="'dragInAction'" [dragData]="node">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON SECTION -->
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <!-- CENTRAL SECTION -->
        <td class="neocom-panel-column" width="80%">
          <div class="neocom-selectable-name">{{node.getItemName()}}<span id="neocom-ts14" style="margin-left: 5px;">[{{node.getTypeId()}}]</span></div>
          <!-- <div class="neocom-data imaki-ff">[{{node.assetId}}]-{{node.category}}/{{node.groupName}}</div> -->
          <div class="neocom-data" id="neocom-ts16">
            <span class="">{{node.getPrice() | number:'1.2-2'}} ISK</span>
            <span class="right-data">{{node.totalValueIsk() | number:'1.0-0'}} ISK</span>
          </div>
          <!-- <div class="lined-bottomline">&nbsp;<br></div> -->
          <div class="neocom-label">
            <span class="">ITEM VALUE</span>
            <span class="right-data">TOTAL VALUE</span>
          </div>
        </td>
        <!-- RIGHT BLOCK -->
        <td width="20%" class="neocom-panel-right-box" align="right ">
          <div class="stack-counter">{{node.quantity | number:'1.0-0'}}</div>
          <div class="neocom-label right-data">NO. ITEMS</div>
          <div class="right-data" style="padding-top: 0px;" id="neocom-ts16">{{node.getVolume() | number:'1.2-2'}} m3</div>
          <div class="neocom-label right-data">VOLUME</div>
        </td>
        <!-- MENU BLOCK -->
        <td *ngIf="hasMenu()" width="5%" class="">
          <div class="">
            <!-- <a class="no-underline" [routerLink]="['/login',getLoginId(),'pilot',getCharacterId(),'PlanetaryManager','location',getLocationId(),'PlanetaryOptimization']"> -->
            <img src="/assets/icons/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
            <!-- </a> -->
          </div>
        </td>
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="5%" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- </div> -->