<div class="neocom-panel" id="{{getPanelColor()}}" style="margin-bottom: 0px;">
  <div class="panel-decorator-collapsed" [ngClass]="{'panel-decorator-expanded-orange': isExpanded()}">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON SECTION -->
        <td width="94px">
          <img class="neocom-icon" id="iconsize-90" src="{{getIconUrl()}}">
        </td>
        <!-- CENTRAL SECTION -->
        <td class="neocom-panel-column" width="80%">
          <!-- ALLIANCE BLOCK -->
          <div class="alliance-box">
            <img class="neocom-icon" id="iconsize-36" src="{{node.alliance.getIconUrl()}}">
            <div class="">
              <span id="neocom-ts14">{{node.alliance.getName()}}</span><br>
              <span id="neocom-ts14">[{{node.alliance.ticker}}]</span>
            </div>
          </div>
          <div class="neocom-label">ALLIANCE</div>
          <!-- CORPORATION BLOCK -->
          <div class="alliance-box">
            <div>
              <span class="neocom-selectable-name">{{node.getName()}}</span>
              <span id="neocom-ts14" style="margin-left: 5px;">[{{node.getId()}}]</span>
              <div id="neocom-ts14">[{{node.ticker}}]</div>
            </div>
            <div>
              <img class="" id="iconsize-24" src="/assets/res-window/drawable/corporationmembers.png">
            </div>
            <div id="neocom-ts14">{{node.memberCount}} MEMBERS</div>
            <img class="" id="iconsize-24" src="/assets/res-window/drawable/fittingmanagement.png">
            <div id="neocom-ts14">2 PENDING JOBS</div>
          </div>
          <div class="neocom-label">CORPORATION</div>
          <div class="alliance-box">
            <img class="neocom-icon" id="iconsize-36" src="{{node.ceo.getIconUrl()}}">
            <div>
              <span class="neocom-marked-name" id="neocom-ts14">{{node.ceo.name}}</span>
            </div>
          </div>
          <div class="neocom-label">CEO</div>
          <!-- <div class="neocom-data imaki-ff">[{{node.assetId}}]-{{node.category}}/{{node.groupName}}</div> -->
          <!-- <div class="neocom-data" id="neocom-ts16"> -->
          <!-- <span class="">{{node.getPrice() | number:'1.2-2'}} ISK</span> -->
          <!-- <span class="right-data">{{node.totalValueIsk() | number:'1.0-0'}} ISK</span> -->
          <!-- </div> -->
          <!-- <div class="lined-bottomline">&nbsp;<br></div> -->
          <!-- <div class="neocom-label">
            <span class="">ITEM VALUE</span>
            <span class="right-data">TOTAL VALUE</span>
          </div> -->
        </td>
        <!-- RIGHT BLOCK -->
        <td width="20%" class="neocom-panel-right-box" align="right ">
          <!-- <div class="stack-counter">{{node.quantity | number:'1.0-0'}}</div>
          <div class="neocom-label right-data">NO. ITEMS</div>
          <div class="right-data" style="padding-top: 0px;" id="neocom-ts16">{{node.getVolume() | number:'1.2-2'}} m3</div>
          <div class="neocom-label right-data">VOLUME</div> -->
        </td>
        <!-- MENU BLOCK -->
        <!-- RIGHT ARROW -->
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="8px" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>