<div fxLayout="row">
  <div style="width: 60%; display: inline-block;">
    <neocom-header></neocom-header>
  </div>
  <div style="width: 40%; float: right;">
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">SERVER DATA BLOCK</span>
    </div>
  </div>
</div>
<neocom-action-bar [title]="'VALIDATION'" [subtitle]="'Verification for credential generation'"></neocom-action-bar>
<div class="neocom-panel neocom-panel-container" id="panelborder-white">
  <div class="neocom-selectable-name" id="neocom-ts18">{{code}}</div>
</div>
<div class="neocom-panel" id="panelborder-white">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td><img class="" src="/assets/res-sde/drawable/defaulticonplaceholder.png" id="iconsize-36"></td>
      <td width="80% " class="neocom-panel-column">
        <div>
          &nbsp;
          <!-- <fa name="cog" animation="spin" size="1x"></fa>&nbsp; -->
          <span class="" id="neocom-ts16">Processing credential validation.</span><br>
        </div>
      </td>
      <!-- RIGHT BLOCK -->
      <td width="20%" class="neocom-panel-right-box" align="right ">
      </td>
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <!-- <td width="5px" *ngIf="!isExpandable()">
        &nbsp;
      </td> -->
    </tr>
  </table>
</div>
<div *ngIf="exception" class="neocom-panel" id="panelborder-red">
SHOW THE ERROR BECAUSE THE CODE IS NOT RECEIVED.
</div>
