<table width="100%" [style.background-color]="stateColor">
  <tr>
    <!-- LEFT BLOCK -->
    <td>
      <div class="neocom-selectable-name">{{node.getResourceTypeName()}}</div>
      <div class="neocom-data">[{{node.getResourceTypeId()}}]-{{node.item.categoryName}}/{{node.item.groupName}}</div>
    </td>
    <!-- RIGHT BLOCK -->
    <td class="neocom-panel-right-box" align="right">
      <div class="neocom-classname">&nbsp;</div>
      <div class="stack-counter">{{node.getVolume() | number:'1.2-2'}} M3</div>
      <div class="neocom-label right-data">VOLUME</div>
    </td>
    <td class="neocom-panel-right-box" align="right">
      <div class="neocom-classname">MOVE TASK</div>
      <div class="stack-counter">{{node.getQuantity() | number:'1.0-0'}}</div>
      <div class="neocom-label right-data">QUANTITY</div>
    </td>
  </tr>
  <tr *ngIf="variant == 'DETAILED'">
    <!-- LEFT BLOCK -->
    <td>
      <neocom-location-name [location]="node.getSourceLocation()"></neocom-location-name>
      <span class="neocom-label">START LOCATION</span>
    </td>
    <!-- RIGHT BLOCK -->
    <td class="neocom-panel-right-box" rowspan="2" align="right">
      <div class="stack-counter"><span>{{routeJumps}}</span></div>
      <div class="neocom-label">JUMPS</div>
    </td>
  </tr>
  <tr *ngIf="variant == 'DETAILED'">
    <!-- LEFT BLOCK -->
    <td>
      <neocom-location-name [location]="node.getDestinationLocation()"></neocom-location-name>
      <span class="neocom-label">END LOCATION</span>
    </td>
  </tr>
</table>
