<div class="neocom-panel" id="panelborder-red">
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <!-- <a class="no-underline" [routerLink]="['/pilot',node.getAccountId()]"> -->
    <tr>
      <td><img class="neocom-icon" src="{{getGroupIconReference()}}" id="iconsize-36"></td>
      <td width="80% " class="neocom-panel-column">
        <div>
          <span class="neocom-expandable-name" id="neocom-ts20">{{getTitle()}}</span><br>
        </div>
      </td>
      <!-- RIGHT BLOCK -->
      <td width="20%" class="neocom-panel-right-box" align="right ">
        <div class="neocom-classname">SHIP GROUP</div>
        <div class="stack-counter">{{getContentsCount()}}</div>
      </td>
      <!-- MENU BLOCK -->
      <td *ngIf="hasMenu()" width="5%" class="">
        <div class="">
          <img src="/assets/icons/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
        </div>
      </td>
      <!-- RIGHT ARROW -->
      <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
        <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/res-ui/drawable/arrowright.png ">
      </td>
      <!-- SEPARATOR WHEN NO RIGHT ARROW -->
      <td width="5%" *ngIf="!isExpandable()">
        &nbsp;
      </td>
    </tr>
    <!-- </a> -->
  </table>
</div>
