//  PROJECT:     NeoCom.WS (NEOC.WS)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2017-2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Angular 4
//  DESCRIPTION: Angular source code to run on a web server almost the same code as on the Android platform.
//               The project has 3 clear parts. One is the Java libraries that are common for all platforms,
//               the second is the java microservices that compose the web application backend made with
//               SpringBoot technology and finally the web ui code made in typescript within the Angular
//               framework.
//-- ADDITIONAL MODULES STYLES
@import "~bootstrap/scss/bootstrap";  // From the boostrap module.
@import './styles/toaster.css'; // angular5-toaster module additional styles

//--- APPLICATION STYLE VARIABLES
@import "./styles/_scss_variables.scss";
//--- APPLICATION STYLE PACKS
@import "./styles/font-styles.css";
@import "./styles/panel-styles.scss";
@import "./styles/new-panel-styles.scss";
@import "./styles/dragdrop-styles.css"; /* PROXIMA FONT STYLES */
//--- APPLICATION GLOBAL DEFINITION STYLES
@import "./styles/ui-styles.scss";
@import "./styles/neocom-styles.scss";
// @import "./styles/common-styles.scss"; /* DRAG & DROP STYLES */
//--- TOASTER5
// NEW FONTS
// @import "./assets/fonts/Proxima/proxima-font-definition.css";

body {
  background-color: black;
  color: white;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
  line-height: 1.0;
  margin: 2px;
}
