//  PROJECT:     CitaMed.paciente(CITM.ION)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Ionic 3.20.
//  DESCRIPTION: CitaMed. Sistema S3. Aplicacion Ionic con estructura muy similar a las aplicaciones Angular
//               que genera paquetes para Android e Ios. Este aplicativo es el que se debe ran instalar los
//               pacientes para poder acceder a la lista de servicios disponibles y poder reservar una cita
//               medica con los proceedores disponibles.
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//--- APPLICATION STYLE VARIABLES
// @import "../styles/_scss_variables.scss";
//--- APPLICATION STYLE PACKS
// @import "../styles/font-styles.scss";
//--- APPLICATION GLOBAL DEFINITION STYLES
@import "../styles/citamed-styles.scss";

body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
  line-height: 1.0;
  margin: 2px;
}

ion-navbar[hidebackbutton] button[menutoggle] {
  display: block !important;
}

/* M E N U   S T Y L E S */
.menu {
  font-family: 'Proxima Nova Black', sans-serif;
}

.menuitem {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size  : 16px;
}
