<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu" id="citamed-ts16">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button class="menuitem" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <i class="fa fa-home" id="ts24"></i>{{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" style="background: transparent;"></ion-nav>
