/* S P I N N E R */

.spinner-position {
  align-content: right;
  align-items: right;
  font-family: "Elemental";
  height: 80px;
  line-height: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
  width: 100%;
  padding-left: 5px;
}

@keyframes spinner-in {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-out {
  to {
    transform: rotate(-360deg);
  }
}

.spinner-in:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  animation: spinner-in .8s ease infinite;
}

.spinner-out:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #A00000;
  border-bottom-color: #A00000;
  animation: spinner-out 1.2s ease infinite;
}

.spinner-size60 {
  width: 100px;
  height: 100px;
  margin-top: -40px;
  margin-left: -40px;
}

.spinner-size70 {
  width: 100px;
  height: 100px;
  margin-top: -40px;
  margin-left: -40px;
}
