/* C O M M O N    S T Y L E S */
.neocom-name {
  color: white;
}

/* I C O N S */
.left-data {
  float: left;
}

.right-data {
  float: right;
}

.neocom-marked-glow {
  color      : orange;
  font-weight: 600;
  text-shadow: 0 0 2px orange;
}

.no-underline {
  font-style     : normal;
  font-variant   : normal;
  text-decoration: none !important;
}

.lined-topupline {
  border-top: white 1px solid;
}

.lined-bottomline {
  border-bottom: white 1px solid;
  padding-top  : 2px;
}

/* P A N E L    T I T L I N G */
