//  PROJECT:     NeoCom.WS (NEOC.WS)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2017-2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Angular 4
//  DESCRIPTION: Angular source code to run on a web server almost the same code as on the Android platform.
//               The project has 3 clear parts. One is the Java libraries that are common for all platforms,
//               the second is the java microservices that compose the web application backend made with
//               SpringBoot technology and finally the web ui code made in typescript within the Angular
//               framework.
//--- PANEL MARGIN VARIABLES
$panel-default-font: 'Din-1451';
$panel-margin: 2px;
$panel-extramargin: 5px;
$panel-border-color: #404040;
$panel-border-thickness: 1px;
$panel-default-opacity: 0.8;
$panel-hover-opacity: 1.0;
$panel-corner-marker-size: 6px;
$panel-corner-marker-thickness: 1px;
$panel-corner-marker-displacement: -1px; //--- P A N E L S

.neocom-panel {
  background-color: $panel-background-color;
  // font-family     : $panel-default-font;
  height          : auto;
  line-height     : $neocom-line-height;
  margin          : $panel-margin;
  opacity         : $panel-default-opacity;
  position        : relative;
}

.neocom-panel-container {
  margin: $panel-margin;
}

.panel-decorator-collapsed {
  background-color: $panel-background-color;
}

.panel-decorator-expanded-red {
  background-color: $background-tint-red;
}

.panel-decorator-expanded-orange {
  background-color: $background-tint-orange;
}

.panel-decorator-expanded-yellow {
  background-color: $background-tint-yellow;
}

.panel-decorator-expanded-blue {
  background-color: $background-tint-blue;
}

.panel-container {
  margin: $panel-margin;
}

.neocom-panel-column {
  padding-left: 3px;
}
/* Style used to setup the margings for the right panel block. */
.neocom-panel-right-box {
  padding-left : $panel-extramargin;
  white-space: nowrap;
  width: 3%;
}

.panel-red-expanded {
  background-color: $background-tint-red;
}

.panel-orange-expanded {
  background-color: $background-tint-orange;
}

.panel-yellow-expanded {
  background-color: $background-tint-yellow;
}

.panel-blue-expanded {
  background-color: $background-tint-blue;
}
//--- P A N E L   B O R D E R S

#panelborder-blue,
#panelborder-orange,
#panelborder-red,
#panelborder-white,
#panelborder-green,
#panelborder-yellow {
  background-color: $panel-background-color;
  border-color    : $panel-border-color;
  border-style    : solid;
  border-width    : $panel-border-thickness $panel-border-thickness $panel-border-thickness $panel-border-thickness;
  height          : auto;
  line-height     : $neocom-line-height;
  // margin-bottom: 2px;
  opacity         : $panel-default-opacity;
  position        : relative;
}

#panelborder-red > :first-child:after,
#panelborder-red > :first-child:before,
#panelborder-red:after,
#panelborder-red:before {
  border  : $panel-border-thickness red solid;
  content : " ";
  height  : $panel-corner-marker-size;
  position: absolute;
  width   : $panel-corner-marker-size;
}

#panelborder-red:hover {
  opacity: $panel-hover-opacity;
}

#panelborder-red:before {
  border-width: $panel-corner-marker-thickness 0 0 $panel-corner-marker-thickness;
  left        : $panel-corner-marker-displacement;
  top         : $panel-corner-marker-displacement;
}

#panelborder-red:after {
  border-width: $panel-corner-marker-thickness $panel-corner-marker-thickness 0 0;
  right       : $panel-corner-marker-displacement;
  top         : $panel-corner-marker-displacement;
}

#panelborder-red > :first-child:before {
  border-width: 0 $panel-corner-marker-thickness $panel-corner-marker-thickness 0;
  bottom      : $panel-corner-marker-displacement;
  right       : $panel-corner-marker-displacement;
}

#panelborder-red > :first-child:after {
  border-width: 0 0 $panel-corner-marker-thickness $panel-corner-marker-thickness;
  bottom      : $panel-corner-marker-displacement;
  left        : $panel-corner-marker-displacement;
}

#panelborder-orange > :first-child:after,
#panelborder-orange > :first-child:before,
#panelborder-orange:after,
#panelborder-orange:before {
  border  : $panel-corner-marker-thickness orange solid;
  content : " ";
  height  : $panel-corner-marker-size;
  position: absolute;
  width   : $panel-corner-marker-size;
}

#panelborder-orange:hover {
  opacity: $panel-hover-opacity;
}

#panelborder-orange:before {
  border-width: $panel-corner-marker-thickness 0 0 $panel-corner-marker-thickness;
  left        : -1px;
  top         : -1px;
}

#panelborder-orange:after {
  border-width: $panel-corner-marker-thickness $panel-corner-marker-thickness 0 0;
  right       : -1px;
  top         : -1px;
}

#panelborder-orange > :first-child:before {
  border-width: 0 $panel-corner-marker-thickness $panel-corner-marker-thickness 0;
  bottom      : -1px;
  right       : -1px;
}

#panelborder-orange > :first-child:after {
  border-width: 0 0 $panel-corner-marker-thickness $panel-corner-marker-thickness;
  bottom      : -1px;
  left        : -1px;
}

#panelborder-yellow > :first-child:after,
#panelborder-yellow > :first-child:before,
#panelborder-yellow:after,
#panelborder-yellow:before {
  border  : $panel-corner-marker-thickness yellow solid;
  content : ' ';
  height  : $panel-corner-marker-size;
  position: absolute;
  width   : $panel-corner-marker-size;
}

#panelborder-yellow:hover {
  opacity: $panel-hover-opacity;
}

#panelborder-yellow:before {
  border-width: $panel-corner-marker-thickness 0 0 $panel-corner-marker-thickness;
  left        : $panel-corner-marker-displacement;
  top         : $panel-corner-marker-displacement;
}

#panelborder-yellow:after {
  border-width: $panel-corner-marker-thickness $panel-corner-marker-thickness 0 0;
  right       : $panel-corner-marker-displacement;
  top         : $panel-corner-marker-displacement;
}

#panelborder-yellow > :first-child:before {
  border-width: 0 $panel-corner-marker-thickness $panel-corner-marker-thickness 0;
  bottom      : $panel-corner-marker-displacement;
  right       : $panel-corner-marker-displacement;
}

#panelborder-yellow > :first-child:after {
  border-width: 0 0 $panel-corner-marker-thickness $panel-corner-marker-thickness;
  bottom      : $panel-corner-marker-displacement;
  left        : $panel-corner-marker-displacement;
}

#panelborder-blue > :first-child:after,
#panelborder-blue > :first-child:before,
#panelborder-blue:after,
#panelborder-blue:before {
  border  : $panel-corner-marker-thickness blue solid;
  content : ' ';
  // filter: blur(1px);
  height  : $panel-corner-marker-size;
  position: absolute;
  width   : $panel-corner-marker-size;
}

#panelborder-blue:hover {
  opacity: 1.0;
}

#panelborder-blue:before {
  border-width: $panel-corner-marker-thickness 0 0 $panel-corner-marker-thickness;
  left        : $panel-corner-marker-displacement;
  top         : $panel-corner-marker-displacement;
}

#panelborder-blue:after {
  border-width: $panel-corner-marker-thickness $panel-corner-marker-thickness 0 0;
  right       : $panel-corner-marker-displacement;
  top         : $panel-corner-marker-displacement;
}

#panelborder-blue > :first-child:before {
  border-width: 0 $panel-corner-marker-thickness $panel-corner-marker-thickness 0;
  bottom      : $panel-corner-marker-displacement;
  right       : $panel-corner-marker-displacement;
}

#panelborder-blue > :first-child:after {
  border-width: 0 0 $panel-corner-marker-thickness $panel-corner-marker-thickness;
  bottom      : $panel-corner-marker-displacement;
  left        : $panel-corner-marker-displacement;
}

#panelborder-white > :first-child:after,
#panelborder-white > :first-child:before,
#panelborder-white:after,
#panelborder-white:before {
  border  : $panel-corner-marker-thickness white solid;
  content : ' ';
  // filter: blur(1px);
  height  : $panel-corner-marker-size;
  position: absolute;
  width   : $panel-corner-marker-size;
}

#panelborder-white:hover {
  opacity: $panel-hover-opacity;
}

#panelborder-white:before {
  border-width: $panel-corner-marker-thickness 0 0 $panel-corner-marker-thickness;
  left        : $panel-corner-marker-displacement;
  top         : $panel-corner-marker-displacement;
}

#panelborder-white:after {
  border-width: $panel-corner-marker-thickness $panel-corner-marker-thickness 0 0;
  right       : $panel-corner-marker-displacement;
  top         : $panel-corner-marker-displacement;
}

#panelborder-white > :first-child:before {
  border-width: 0 $panel-corner-marker-thickness $panel-corner-marker-thickness 0;
  bottom      : $panel-corner-marker-displacement;
  right       : $panel-corner-marker-displacement;
}

#panelborder-white > :first-child:after {
  border-width: 0 0 $panel-corner-marker-thickness $panel-corner-marker-thickness;
  bottom      : $panel-corner-marker-displacement;
  left        : $panel-corner-marker-displacement;
}

#panelborder-green > :first-child:after,
#panelborder-green > :first-child:before,
#panelborder-green:after,
#panelborder-green:before {
  border  : $panel-corner-marker-thickness green solid;
  content : ' ';
  height  : $panel-corner-marker-size;
  position: absolute;
  width   : $panel-corner-marker-size;
}

#panelborder-green:hover {
  opacity: $panel-hover-opacity;
}

#panelborder-green:before {
  border-width: $panel-corner-marker-thickness 0 0 $panel-corner-marker-thickness;
  left        : $panel-corner-marker-displacement;
  top         : $panel-corner-marker-displacement;
}

#panelborder-green:after {
  border-width: $panel-corner-marker-thickness $panel-corner-marker-thickness 0 0;
  right       : $panel-corner-marker-displacement;
  top         : $panel-corner-marker-displacement;
}

#panelborder-green > :first-child:before {
  border-width: 0 $panel-corner-marker-thickness $panel-corner-marker-thickness 0;
  bottom      : $panel-corner-marker-displacement;
  right       : $panel-corner-marker-displacement;
}

#panelborder-green > :first-child:after {
  border-width: 0 0 $panel-corner-marker-thickness $panel-corner-marker-thickness;
  bottom      : $panel-corner-marker-displacement;
  left        : $panel-corner-marker-displacement;
}
