.location-role-image {
  border       : 1px solid white;
  border-radius: 2px;
  height       : 16px;
  width        : 16px;
}

.dimmed {
  position: relative;
}

.dimmed:before {
  background: rgba(0, 0, 0, 0.5);
  content   : ' ';
  display   : block;
  height    : 100%;
  left      : 0;
  position  : absolute;
  right     : 0;
  top       : 0;
  z-index   : 10;
}
/** Styles to identify the item when the cursor is on top. And also to reinforce the item when hovering. */
.menu-item {
  cursor : pointer;
  opacity: 0.8;
}
.menu-item:hover {
  background-color: #202020;
  opacity         : 1.0;
}
/** Style to show when the menu item is ACTIVE. Also the reinforce for hovering. */
.menu-item-active {
  background-color: rgba(0, 51, 0,0.7);
  cursor          : pointer;
}
.menu-item-active:hover {
  background-color: rgba(0, 102, 0,0.7);
}
