<div droppable class="panel-container">
  <div *ngFor="let node of getPanelComponents()">
    <neocom-job *ngIf="node.jsonClass == 'Job'" [viewer]="getViewer()" [node]="node"></neocom-job>
  </div>
</div>