//--- APPLICATION STYLES VARIABLES
// @import "app/../styles/_scss_variables.scss";
// B U T T O N    S T Y L E S
.button-size {
  line-height: 2;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Prototype', sans-serif; // height: 120px;
  // margin-top: 50px;
  min-width: 350px;
  padding: 4px 24px;
  background: transparent;
}

.button-position {
  // margin-left: 30px;
  margin-top: 16px;
  // width: 50%;
  // font-size: 24px;
  // line-height: 3;
}

.button-green {
  color: green;
  border: 3px solid green;
  border-radius  : 8px;
}

.button-green:hover {
  color: white;
  background: green;
}

.button-green:disabled {
  color: black;
  border: 3px solid darkgrey;
}

.login-button {
  background-color: #A0EA7B;
  border-radius: 10px;
  color: white;
}

.authorization-button:hover {
  background-color: #50B71D;
}

.submit-button {
  margin-left: 30px;
  width: 50%;
  font-size: 24px;
  line-height: 3;
  margin-bottom: 20px;
}


.login-box {
  display: flex;
  justify-content: center;
}

.validating-label {
  font-size: 22px;
  font-weight: 600;
  margin-right: 10px;
  margin-top: 10px;
}

.welcome-message {
  font-size: 24px;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 10px;
  padding-top: 10px;
}