@import '../../../../../styles/_scss_variables.scss';
.fitting-request-value{
  margin-left:4px;
  color: $app-pale-red-color;
  font-weight: bold;
  text-align: right;
}
.fitting-request-copies{
  border: 1px solid white;
    border-radius: 4px;
    padding-right: 8px;
    padding-left: 8px;
}
input{
  width: 40%;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
}
.change-copies{
  border: 1px solid #A0A0A0;
  border-radius: 4px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.increase-copies{
  @extend .change-copies;
  background-color: green;
}
.decrease-copies{
  @extend .change-copies;
  background-color: red;
}
.neocom-menu-icon{
  cursor: pointer;
}

// MENU SECTION
.menu-collapsed {
  width: 27px;
}
.location-menu-expanded {
  border       : 1px solid white;
  width        : 130px;
  padding: 2px;
    background-color: #202020;
}
.location-role-image {
  border       : 1px solid white;
  border-radius: 2px;
  height       : 16px;
  width        : 16px;
}
.clickable{
  cursor: pointer;
}
.clickable:hover{
  background-color: #303050
}
.item-pending-save{
  color:red;
}
.item-saved{
  color:green;
}
