<!-- DEFINITION OF THE PANEL - THEME COLOR DEFINED ON THE NODE -->
<div class="neocom-panel" id="{{getPanelColor()}}">
  <!-- DEFINES THE EXPAND/COLLAPSE CHANGES - ENTER EXIT SELECTION -->
  <div class="panel-decorator-collapsed" [style.background-color]="getExpandedTint()" (mouseenter)="panelEnter()" (mouseleave)="panelExit()">
    <!-- ACTIVATE MENUBAR IF DETAILED -->
    <!-- <div *ngIf="variant == 'STANDARD'"> -->
    <panel-menu-bar [menuContainer]="getMenuSupporter()"></panel-menu-bar>
    <!-- </div> -->
    <!-- BODY FOR THE NODE -->
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON BLOCK -->
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <td class="neocom-panel-column" width="75%">
          <span class="neocom-selectable-name">{{node.fitting.name}}</span>
          <span class="neocom.label">[{{node.fitting.getFittingId()}}]</span>
          <!-- <div class="lined-bottomline">
            <span class="neocom-data imaki-ff neocom-ts14">{{node.fitting.getHullGroup() | uppercase }}</span>
          </div> -->
          <!-- <div class="">
            <span class="neocom-label">HULL CLASS</span>
          </div> -->
          <div>
            <table width="100%">
              <tr>
                <!-- <td><span id="neocom-ts10">HULL:</span></td> -->
                <td colspan="2"><span class="neocom-data imaki-ff neocom-ts14">{{node.fitting.getHullGroup() | uppercase }}</span></td>
                <!-- <td><span style="margin-left:4px;" id="neocom-ts16">{{node.fitting.getHighModulesCount()}}</span></td> -->
                <td class="fitting-request-value"><span id="neocom-ts14">{{node.fitting.getHullCost() * copies | number:'1.2-2'}}</span></td>
                <td><span id="neocom-ts11">&nbsp;ISK</span></td>
                <!-- </div> -->
              </tr>
              <tr>
                <td><span id="neocom-ts10">HIGH MODULES:</span></td>
                <td><span style="margin-left:4px;" id="neocom-ts16">{{node.fitting.getHighModulesCount()}}</span></td>
                <td class="fitting-request-value"><span class="fitting-request-value" id="neocom-ts14">{{node.fitting.getHighModulesValue() * copies | number:'1.2-2'}}</span></td>
                <td><span id="neocom-ts11">&nbsp;ISK</span></td>
              </tr>
              <tr>
                <td><span id="neocom-ts10">MEDIUM MODULES:</span></td>
                <td><span style="margin-left:4px;" id="neocom-ts16">{{node.fitting.getMediumModulesCount()}}</span></td>
                <td class="fitting-request-value"><span id="neocom-ts14">{{node.fitting.getMediumModulesValue()* copies | number:'1.2-2'}}</span></td>
                <td><span id="neocom-ts11">&nbsp;ISK</span></td>
              </tr>
              <tr>
                <td><span id="neocom-ts10">LOW MODULES:</span></td>
                <td><span style="margin-left:4px;" id="neocom-ts16">{{node.fitting.getLowModulesCount()}}</span></td>
                <td class="fitting-request-value"><span class="fitting-request-value" id="neocom-ts14">{{node.fitting.getLowModulesValue() * copies | number:'1.2-2'}}</span></td>
                <td><span id="neocom-ts11">&nbsp;ISK</span></td>
              </tr>
              <tr>
                <td><span id="neocom-ts10">RIGS:</span></td>
                <td><span style="margin-left:4px;" id="neocom-ts16">{{node.fitting.getRigsCount()}}</span></td>
                <td class="fitting-request-value"><span class="fitting-request-value" id="neocom-ts14">{{node.fitting.getRigsValue() * copies | number:'1.2-2'}}</span></td>
                <td><span id="neocom-ts11">&nbsp;ISK</span></td>
              </tr>
              <tr>
                <td colspan="4">
                  <neocom-separator [viewer]="getViewer()" [node]="totalSeparator()"></neocom-separator>
                </td>
              </tr>
              <tr>
                <!-- TOTAL COMPUTING -->
                <td><span id="neocom-ts11">TOTAL</span></td>
                <td class="fitting-request-value" colspan="2"><span class="fitting-request-value" id="neocom-ts14">{{scaledPrice(node.fitting.getFittingTotalValue() * copies) | number:'1.2-2'}}</span></td>
                <td><span id="neocom-ts11">&nbsp;{{node.fitting.getFittingTotalValue() * copies}}</span></td>
              </tr>
            </table>
          </div>
        </td>
        <!-- RIGHT BLOCK -->
        <td width="25%" class="neocom-panel-right-box" align="right " style="vertical-align: top;">
          <div class="neocom-classname">FITTING REQUEST</div>
          <table width="100%" style="margin-top: 4px;">
            <tr>
              <td> <span class="fitting-request-copies" id="neocom-ts18">{{copies}}</span></td>
              <td width="30px">
                <span (click)="changeCopies(1)" title="Increase one copy."><span class="fas fa-chevron-up"  style="color: green; width: 15px; height: 15px;"></span></span>
                <span (click)="changeCopies(-1)" title="Decrease one copy."><span class="fas fa-chevron-down" style="color: red; width: 15px; height: 15px;"></span></span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="neocom-label">COPIES</div>
              </td>
            </tr>
          </table>
        </td>
        <!-- MENU BLOCK -->
        <!-- <td *ngIf="hasMenu()" [ngClass]="{'menu-collapsed': hasMenu(),'location-menu-expanded': isMenuExpanded()}">
          <div class="item-pending-save" [ngClass]="{'item-saved': isSaved()}">
            <div *ngIf="!isSaved()">
              <span class="fas fa-times" style="vertical-align: top;"></span><span>Dirty</span>
            </div>
            <div *ngIf="isSaved()">
              <span class="fas fa-check" style="vertical-align: top;"></span><span>Saved</span>
            </div>
          </div>
          <div class="neocom-menu-icon menu-collapsed" (click)="toggleMenu()" title="Click the menu to expand/collapse.">
            <img src="/assets/res-ui/drawable/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
            <span *ngIf="!isMenuExpanded()"><span class="fas fa-chevron-right" style="vertical-align: middle;"></span></span>
            <span *ngIf="isMenuExpanded()"><span class="fas fa-chevron-down" style="vertical-align: middle;"></span></span>
          </div>
          <div *ngIf="isMenuExpanded()">
            <div class="clickable" (click)="saveRequest()">
              <span class="fas fa-save" style="vertical-align: top;"></span><span>SAVE REQUEST</span>
            </div>
            <div class="clickable" (click)="processRequest()">
              <img src="/assets/res-sde/drawable/fittingmanagement.png" class="location-role-image" /><span>PROCESS FITTING</span>
            </div>
          </div>
        </td> -->
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/res-ui/drawable/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="5px" *ngIf="!isExpandable()">
          <span style="width: 5px;">&nbsp;</span>
        </td>
      </tr>
    </table>
  </div>
</div>
