<!-- A C T I O N   B A R -->
<neocom-action-bar [title]="'FITTING MANUFACTURE ACTIONS'" [subtitle]="'Fitting Processing Actions By Class'"></neocom-action-bar>

<div fxLayout="row">
  <!-- L E F T   C O L U M N - F I T T I N G   A C T I O N S -->
  <div style="width: 60%; display: inline-block;">
    <neocom-spinner-central *ngIf="downloading" [configuration]="{title:'Downloading Fitting Actions',subtitle:''}"></neocom-spinner-central>
    <!-- <neocom-component-factory [dataSource]="getDataSource()"></neocom-component-factory> -->
    <!-- RENDERING BLOCK & NODE DISCRIMINATOR -->
    <div *ngFor="let node of renderNodeList">
      <neocom-labeled-container *ngIf="node.jsonClass == 'LabeledContainer'" [viewer]="getViewer()" [node]="node"></neocom-labeled-container>
      <neocom-processing-task *ngIf="node.jsonClass == 'ProcessingTask'" [viewer]="getViewer()" [node]="node" [variant]="'STANDARD'" (mouseenter)="onMouseEnter(node)">
      </neocom-processing-task>
    </div>
  </div>
  <!-- R I G H T   C O L U M N - D E T A I L E D   V I E W -->
  <div style="width: 40%; float: right">
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">MENU TO APPLY TO THE PROCESSING TASK</span>
    </div>
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">DETAILED PROCESSING TASK</span>
      <neocom-processing-task *ngIf="getSelectedNodeClass() === 'ProcessingTask'" [viewer]="getViewer()" [node]="theSelectedNode" [variant]="'DETAILED'">
      </neocom-processing-task>
    </div>
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">TITLE FOR MARKET ORDERS</span>
    </div>
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">MARKET ORDERS IN STATES OPEN/SCHEDULED</span>
      <div *ngFor="let order of orders">
        <neocom-market-order [node]="order"></neocom-market-order>
      </div>
    </div>
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">TITLE FOR CONTRACTS</span>
    </div>
    <div class="neocom-panel header-box" id="panelborder-white">
      <span class="proxima-black-ff" style="padding: 2px;">CONTRACTS OPEN</span>
    </div>
    <!-- <neocom-detailed-container [viewer]="getViewer()" [selectedNode]="theSelectedNode"></neocom-detailed-container> -->
  </div>
</div>
