<div class="neocom-panel" id="{{getPanelColor()}}" style="margin-bottom: 2px;">
  <!-- DRAG&DROP - MENU BLOCK -->
  <div [style.background-color]="getExpandedTint()">
    <!-- MENU BLOCK -->
    <!-- <div *ngIf="hasMenu()">
      <panel-menu-bar [menuContainer]="getMenuSupporter()"></panel-menu-bar>
    </div> -->
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON BLOCK -->
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <!-- LEFT BLOCK -->
        <!-- CENTRAL BLOCK -->
        <td class="neocom-panel-column">
          <span class="neocom-selectable-name">{{node.getResourceName()}}</span>
          <span class="neocom-label" id="neocom-ts14">[#{{node.getTypeId()}}]</span>
          <br />
          <neocom-location-name [location]="node.getOrderLocation()"></neocom-location-name>
        </td>
        <!-- RIGHT BLOCK -->
        <td width="30%" class="neocom-panel-right-box" align="right">
          <div class="neocom-classname">MARKET ORDER</div>
          <div class="stack-counter">{{node.volumeRemain | number:'1.0-0'}}/{{node.volumeTotal | number:'1.0-0'}}</div>
        </td>
        <!-- MENU BLOCK -->
        <!-- RIGHT ARROW -->
        <td width="32px" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/res-ui/drawable/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="5px" *ngIf="!isExpandable()">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td width="40px">
          &nbsp;
        </td>
        <td class="neocom-panel-column">
          <span>
            <img *ngIf="node.isBuyOrder" src="/assets/res-ui/drawable/ic_buy.png" width="10px" height="10px">
            <img *ngIf="!node.isBuyOrder" src="/assets/res-ui/drawable/ic_sell.png" width="10px" height="10px">
          </span>
          <span class="isk-data left-data" id="neocom-ts16">{{scaledPrice(node.getOrderPrice()) | number:'1.2-2'}} {{scale()}}</span>
        </td>
        <td width="30%" class="neocom-panel-right-box" align="right">
          <div>{{time2Run}}</div>
        </td>
      </tr>
    </table>
  </div>
</div>
