<!-- DEFINITION OF THE PANEL - THEME COLOR DEFINED ON THE NODE -->
<div class="neocom-panel" id="{{getPanelColor()}}">
  <!-- DEFINES THE EXPAND/COLLAPSE CHANGES - ENTER EXIT SELECTION -->
  <div class="panel-decorator-collapsed" [style.background-color]="getExpandedTint()" (mouseenter)="panelEnter()" (mouseleave)="panelExit()">
    <!-- ACTIVATE MENUBAR IF DETAILED -->
    <div *ngIf="variant == 'DETAILED'">
      <panel-menu-bar [menuContainer]="getMenuSupporter()"></panel-menu-bar>
    </div>
    <!-- BODY FOR THE NODE -->
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <!-- ICON BLOCK -->
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <!-- LEFT BLOCK -->
        <td class="neocom-panel-column">
          <span class="neocom-selectable-name">{{node.system}}</span>
          <span class="neocom.label" id="neocom-ts14">[{{getIdentifier()}}]</span>
          <div class="lined-bottomline">
            <neocom-location-name [location]="node"></neocom-location-name>
          </div>
          <div class="">
            <span class="neocom-label">STATION</span>
          </div>
        </td>
        <!-- RIGHT BLOCK -->
        <td class="neocom-panel-right-box" width="35%" align="right ">
          <div class="neocom-classname">LOCATION</div>
          <div class="neocom-marked-name" id="neocom-ts14">{{node.region}} ► {{node.constellation}}</div>
          <div class="stack-counter " style="padding-bottom: 1px;">{{getFormattedStackCount()}}</div>
          <div class="neocom-label ">ITEMS</div>
        </td>
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/res-ui/drawable/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="5px" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>

      <tr *ngIf="variant == 'DETAILED'">
        <td colspan="2">
          <table width="100%">
            <tr *ngFor="let role of getRoles()">
              <td width="60%" vertical-align="bottom">
                <span class="location-totals-label">ROLE</span>
              </td>
              <td width="60%" vertical-align="bottom">
                <span class="location-totals-label">{{role}}</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
