.processing-inputs {
  border: white 1px solid;
  box-shadow: inset 0px 0px 4px 1px rgba(255, 255, 255, 0.73), 0px 0px 4px 1px rgba(255, 255, 255, 0.73);
  margin: 5px;
}

.processing-runs {
  font-size: 20px;
}

.processing-runs-box {
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 46px;
  width: 60px;
  height: 60px;
  border: 5px #800000 dashed;
  text-align: center;
}

.neocom-panel2 {
  font-family: "Mons Olympia";
  width: 60%;
}

.processing-result-name {
  font-family: "Mons Olympia";
  color: #50B71D;
  font-size: 20px;
  line-height: 1.3;
  text-shadow: 0px 0px 2px #50B71D;
  font-weight: 500;
  margin-left: 5px;
}

.action-value {
  margin: 3px;
  display: flex;
  justify-content: flex-end;
}
