<!-- DEFINITION OF THE PANEL - THEME COLOR DEFINED ON THE NODE -->
<div class="neocom-panel" id="{{getPanelColor()}}">
  <!-- BODY FOR THE NODE -->
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="45%" class="processing-inputs">
        <!-- <div>
          <span class="proxima-black-ff" style="padding: 2px; font-size: 10px; font-weight: bold;">INPUTS</span>
        </div> -->

        <div class="action-value">
          <span>Value:</span>
          <span class="isk-data" id="neocom-ts16">{{getInputValue() | number:'1.0-0'}} ISK</span>
        </div>
        <div *ngFor="let node of getInputs()">
          <neocom-resource *ngIf="node.jsonClass == 'Resource'" [node]="node"></neocom-resource>
        </div>
      </td>
      <td width="10%">
        <div class="processing-runs-box">
          <span class="stack-counter">{{node.outputQty | number:'1.0-0'}}</span>
        </div>
      </td>
      <td width="45%" class="processing-inputs">
        <!-- <div>
          <span class="proxima-black-ff" style="padding: 2px; font-size: 10px; font-weight: bold;">OUTPUTS</span>
        </div> -->
        <div class="action-value">
          <span>Value:</span>
          <span class="isk-data" id="neocom-ts16">{{getOutputValue() | number:'1.0-0'}} ISK</span>
        </div>
        <div *ngFor="let node of getOutputs()">
          <neocom-resource *ngIf="node.jsonClass == 'Resource'" [node]="node"></neocom-resource>
        </div>
      </td>
      <!-- <td width="5%" class="neocom-arrow-box">
      <img class="neocom-arrow" *ngIf="!node.expanded " src="/assets/icons/arrowleft.png ">
      <img class="neocom-arrow" *ngIf="node.expanded " src="/assets/icons/arrowright.png ">
    </td> -->
    </tr>
  </table>
</div>
