<div>
  <span>{{getRegionName()}} ► {{getConstellationName()}} ► </span>
  <span [style.color]="securityLevel" style="font-weight: bold;">{{getLocationSecurity() | number:'1.1-1'}} </span>
  <span>{{getStationName()}}</span>
</div>
