
.citamed-inputgroup {
  border                 : 1px solid black;
  border-top-left-radius : 6px;
  border-top-right-radius: 6px;
  margin-bottom          : 15px;
  width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

.citamed-inputlabel {
  font-size              : 13px;
  font-weight            : 500;
  color                  : white;
  background-color       : #B3C6FF;
  margin                 : 0;
  padding                : 4px 8px;
  border-top-left-radius : 6px;
  border-top-right-radius: 6px;
}

.citamed-input {
  font-size  : 24px;
  font-weight: 100;
  // font-family: 'Proxima Nova';
}

.citamed-formerror {
  border       : 1px solid #FF8566;
  // border-radius: 5px;
  padding      : 5px;
  background   : #FFD6CC;
  margin-top   : 5px;
}

.citamed-form-message{
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    color: black;
}
// .citamed-cardheader {
//   font-size     : 25px;
//   font-weight   : 900;
//   color         : #1a53ff;
//   white-space   : normal;
//   padding-top   : 5px;
//   padding-bottom: 0;
// }
