<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="menu">Datos Paciente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: transparent;">
  <ion-card class="citamed-card">
    <!-- <ion-card-header class="citamed-card-header"> -->
    <ion-label class="container-title">Formulario: Datos del Paciente</ion-label>
    <!-- </ion-card-header> -->

    <ion-card-content>
      <form novalidate (ngSubmit)="signup()" [formGroup]="credentialForm">
        <div class="citamed-inputgroup">
          <ion-label class="citamed-inputlabel">*IDENTIFICADOR (p ej. DNI, número SS)</ion-label>
          <ion-input class="citamed-input" type='text' [(ngModel)]="patientRecord.identificador" formControlName="identificador" [class]="credentialForm.controls.identificador.valid?'citamed-input underline-green':'citamed-input underline-red'" (ionBlur)='blurIdentificador();'></ion-input>
          <div [hidden]="credentialForm.controls.identificador.valid" class="citamed-formerror">
            Identificador es un campo requerido y de al menos 8 caracteres.
          </div>
        </div>

        <div class="citamed-inputgroup">
          <ion-label class="citamed-inputlabel">*Teléfono de Contacto</ion-label>
          <ion-input class="citamed-input" type='number' [(ngModel)]="patientRecord.tefContacto" formControlName="tefContacto" [class]="credentialForm.controls.tefContacto.valid?'citamed-input underline-green':'citamed-input underline-red'" (ionBlur)='blurTefContacto();'></ion-input>
          <div [hidden]="credentialForm.controls.tefContacto.valid" class="citamed-formerror">
            Teléfono de Contacto es un campo requerido y de al menos 9 caracteres.
          </div>
        </div>

        <div class="citamed-inputgroup">
          <ion-label class="citamed-inputlabel">NOMBRE (Este dato no se envia a ninguna clínica ni médico)</ion-label>
          <ion-input class="citamed-input underline-green" type='text' [(ngModel)]="patientRecord.nombre" formControlName="nombre" (ionBlur)='blurNombre();'></ion-input>
          <!-- [class.underline-red]="!credentialForm.controls.nombre.valid && credentialForm.controls.nombre.dirty" -->
          <!-- <div [hidden]="credentialForm.controls.nombre.valid && credentialForm.nombre.identificador.dirty" class="citamed-formerror">
          Identificador es un campo requerido y de al menos 6 caracteres.
        </div> -->
        </div>
        <ion-label class="citamed-form-message">Los campos marcados con * son obligatorios</ion-label>
      </form>
    </ion-card-content>
  </ion-card>
  <div class="citamed-block">
    <button ion-button class="citamed-button" color="secondary" id="bt-height4" (click)="savePatientData();">Guardar</button>
  </div>
</ion-content>
