<!-- S P I N N E R -->
<app-spinner-panel *ngIf="downloading" [title]="'Downloading avaialbel resources...'"></app-spinner-panel>
<!-- P A N E L   T I T L E -->
<div class="neocom-panel header-box" id="panelborder-white">
  <span class="proxima-black-ff" style="padding: 2px;">ORE & MINERAL STORAGE AVAILABLE</span>
</div>
<!-- T O T A L S   T A B L E -->
<div class="neocom-panel" id="panelborder-green">
  <div *ngFor="let resourceContainer of resourceContainers">
    <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowupgreen.png" style="position: absolute;"><br />
    <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowupgreen.png">
    <span class="neocom-marked-name" id="neocom-ts14">{{resourceContainer.getFacetName()}}</span>

    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr *ngFor="let process of resourceContainer.getRefiningProcesses()">
        <td width="36px">
          <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowupgreen.png" style="position: absolute;"><br />
          <img class="neocom-arrow" src="/assets/res-ui/drawable/arrowupgreen.png">
        </td>
        <!-- HULL BLUEPRINT AND DATA -->
        <!-- <td width="25%">
          <industry-hull-identification [hull]="req.getBlueprint()" [copies]="req.getCopies()"></industry-hull-identification>
        </td> -->
        <!-- A S T E R O I D   I D E N T I F I C A T I O N -->
        <td width="25%">
          <table width="100%">
            <tr>
              <td>
                <img class="neocom-icon" id="iconsize-24" src="{{process.getIconUrl()}}">
              </td>
              <td width="90%">
                {{process.getName()}}
              </td>
              <td align="right">
                <span class="stack-counter" id="iconsize-18">{{process.getQuantity() | number:'1.0-0'}}</span><br />
                <span class="neocom-label">RESOURCES</span>
              </td>
              <td align="right">
                <span class="stack-counter" id="iconsize-16">{{process.getQuantity() / 100 | number:'1.0-0'}}</span><br />
                <span class="neocom-label">UNITS</span>
              </td>
            </tr>
          </table>
        </td>
        <!-- A S T E R O I D   M I N E R A L   R E S O U R C E S -->
        <td width="8%" align="center">
          <industry-manufacture-mineral [resource]="process.getMineral(34)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
        </td>
        <td width="8%" align="center">
          <industry-manufacture-mineral [resource]="process.getMineral(35)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
        </td>
        <td width="8%" align="center">
          <industry-manufacture-mineral [resource]="process.getMineral(36)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
        </td>
        <td width="8%" align="center">
          <industry-manufacture-mineral [resource]="process.getMineral(37)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
        </td>
        <td width="8%" align="center">
          <industry-manufacture-mineral [resource]="process.getMineral(38)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
        </td>
        <td width="8%" align="center">
          <industry-manufacture-mineral [resource]="process.getMineral(39)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
        </td>
        <td width="8%" align="center">
          <industry-manufacture-mineral [resource]="process.getMineral(40)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
        </td>
        <td width="8%" align="center">
          <industry-manufacture-mineral [resource]="process.getMineral(11399)" [isExpense]="false" style="margin-right: 1px;"></industry-manufacture-mineral>
        </td>
        <td width="10%">
          &nbsp;
        </td>
      </tr>
    </table>
  </div>
  <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
    <!-- MINERAL FOOTER -->
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
      <td *ngFor="let resource of mineralCatalog" width="8%" align="center">
        <industry-mineral-header [resource]="resource"></industry-mineral-header>
      </td>
      <td width="10%">
        &nbsp;
      </td>
    </tr>
  </table>
</div>
