<div fxLayout="row">
  <div style="width: 60%; display: inline-block;">
    <app-left-container></app-left-container>
  </div>
  <div style="width: 40%; float: right;">
    <app-right-container></app-right-container>
  </div>
</div>