//  PROJECT:     NeoCom.WS (NEOC.WS)
//  AUTHORS:     Adam Antinoo - adamantinoo.git@gmail.com
//  COPYRIGHT:   (c) 2017-2018 by Dimensinfin Industries, all rights reserved.
//  ENVIRONMENT: Angular 4
//  DESCRIPTION: Angular source code to run on a web server almost the same code as on the Android platform.
//               The project has 3 clear parts. One is the Java libraries that are common for all platforms,
//               the second is the java microservices that compose the web application backend made with
//               SpringBoot technology and finally the web ui code made in typescript within the Angular
//               framework.
//--- DIMENSION VARIABLES
$background-size: 100px;

.pilot-character-sheet {
  // background-image   : url('http://image.eveonline.com/Corporation/1427661573_256.png');
  background-position: center center;
  /* height: auto; */
  background-repeat  : no-repeat;
  background-size    : $background-size $background-size;
  height             : $background-size;
  // opacity: 0.5;
}
.page-background{
  position: relative;
height: 150px;
width: 50%;
margin: 0 auto;
}
.pilot-background {
  margin-top:25px;
  height : $background-size;
  width  : $background-size;
  opacity: 0.5;
}
