<div class="insert-animation neocom-panel" id="{{getPanelColor()}}" style="margin-bottom: 2px;">
  <div class="panel-decorator-collapsed" [ngStyle]="stateStyles">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <!-- MENU BLOCK -->
        <!-- <td *ngIf="hasMenu()" width="5%" class="">
          <div class="">
            <img src="/assets/icons/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
          </div>
        </td> -->
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="5%" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>