<div *ngIf="ifInside()" class="menu-bar" (mouseenter)="activateMenu()" (mouseleave)="deactivateMenu()">
  <table width="100%" style="background-color: #0D0D0D;">
    <tr style="vertical-align:top">
      <td width="18px">
        <img src="/assets/res-ui/drawable/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%); vertical-align: top;">
      </td>
      <td class="menu-section" *ngFor="let menu of getMenuSections()">
        <div>
          <span class="neocom-label">{{menu.title}}</span>
        </div>

        <div *ngFor="let menuLine of menu.menuItems">
          <neocom-menu-item style="background-color: #0D0D0D;" [menu]="menuLine"></neocom-menu-item>
        </div>
      </td>
      <td width="90%" vertical-align="top">
        &nbsp;
      </td>
    </tr>
  </table>
</div>




<!-- <tr>
  <td>
    <neocom-menu-save-state></neocom-menu-save-state>
  </td>
  <td class="menu-collapsed" [ngClass]="{'menu-expanded': isMenuActive()}" align="right">
    <div class="neocom-menu-icon" (click)="menuContainer.toggleMenu()" title="Click the menu to expand/collapse.">
      <img src="/assets/res-ui/drawable/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
    </div>
  </td>
</tr> -->





<!-- MENU BLOCK
<td *ngIf="hasMenu()" [ngClass]="{'menu-collapsed': hasMenu(),'location-menu-expanded': isMenuExpanded()}">
  <div class="neocom-menu-icon" (click)="toggleMenu()" title="Click the menu to expand/collapse.">
    <img src="/assets/res-ui/drawable/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
    <span *ngIf="!isMenuExpanded()"><span class="fas fa-chevron-right" style="vertical-align: middle;"></span></span>
    <span *ngIf="isMenuExpanded()"><span class="fas fa-chevron-down" style="vertical-align: middle;"></span></span>
  </div>
  <div *ngIf="isMenuExpanded()">
    <div>
      <span class="neocom-microlabel">LOCATION ROLES</span>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input neocom-checkbox" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1"><img src="/assets/res-sde/drawable/industry.png" class="location-role-image" /><span>MANUFACTURE</span></label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input neocom-checkbox" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1"><img src="/assets/res-sde/drawable/research.png" class="location-role-image" /><span>INVENTION</span></label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input neocom-checkbox" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1"><img src="/assets/res-sde/drawable/reprocessing.png" class="location-role-image" /><span>RESOURCE</span></label>
    </div>
    <hr class="menu-hr" />
    <div>
      <img src="/assets/res-sde/drawable/log.png" class="location-role-image" /><span>CHANGE LOCATION DATA</span>
    </div>
  </div>
</td>

-->
