<!-- H U L L   I D E N T I F I C A T I O N   B L O C K -->
<table width="100%">
  <tr>
    <td>
      <img class="neocom-icon" id="iconsize-24" src="{{getIconUrl()}}">
    </td>
    <td>
      {{hull.name}} (BPC)
    </td>
    <td colspan="2" align="right" style="padding-right: 3px;">
      <span class="stack-counter">{{copies}}</span><br />
      <span class="neocom-label">Quantity</span>
    </td>
  </tr>
</table>
