<table width="100%" [style.background-color]="stateColor">
  <tr>
    <!-- LEFT BLOCK -->
    <td>
      <div class="neocom-selectable-name">{{node.getResourceTypeName()}}</div>
      <div class="neocom-data">[{{node.getResourceTypeId()}}]-{{node.item.categoryName}}/{{node.item.groupName}}</div>
    </td>
    <!-- RIGHT BLOCK -->
    <td class="neocom-panel-right-box" align="right">
      <div class="neocom-classname">BUY {{node.taskState}}<br />TASK</div>
      <div class="stack-counter">{{node.getQuantity() | number:'1.0-0'}} Items</div>
      <div class="neocom-label right-data">QTY</div>
    </td>
  </tr>
  <tr *ngIf="variant == 'DETAILED'">
    <!-- LEFT BLOCK -->
    <td>
      <div class="isk-data left-data" id="neocom-ts16">{{scaledPrice(node.getPrice()) | number:'1.2-2'}} {{scale()}}</div>
      <div class="neocom-label">RESOURCE VALUE</div>
    </td>
    <!-- RIGHT BLOCK -->
    <td class="neocom-panel-right-box" align="right">
      <div class="prototype-ff left-data" id="neocom-ts16">{{scaledPrice(node.totalValueIsk()) | number:'1.2-2'}} {{scale()}}</div>
      <div class="neocom-label">TOTAL VALUE</div>
    </td>
  </tr>
  <tr>
    <!-- LEFT BLOCK -->
    <td>
      <neocom-location-name [location]="node.getSourceLocation()"></neocom-location-name>
      <span class="neocom-label">MARKET LOCATION</span>
    </td>
    <!-- RIGHT BLOCK -->
    <td class="neocom-panel-right-box" align="right">
      <div class="stack-counter"><span>{{routeJumps}}</span><span class="neocom-label"> JUMPS</span></div>
      <div class="neocom-label">DISTANCE IN GATES</div>
    </td>
  </tr>
</table>
