<div class="page-background">
  <img class="pilot-background" src="{{ pilot.urlforAvatar}}">
  <img class="pilot-background" src="http://image.eveonline.com/Corporation/1427661573_256.png">
  <img class="pilot-background" src="{{ pilot.alliance.url4Icon}}">
</div>
<div style="position:absolute; top:0px; left:0px">
  <!-- <div class="pilot-character-sheet" [ngStyle]="{'background-image': 'url(' + pilot.urlforAvatar + ')'}"> -->
  <span style="height: 14px;">Character Sheet</span>
  <table class="" cellspacing="0" cellpadpilot.ding="0" width="100%">
    <tr height="100px">
      <td><img class="neocom-panel-column" id="iconsize-32" src="/assets/res-window/drawable/omega.png" id="iconsize-32"></td>
      <td class="neocom-panel-column" width="80%">
        <div>
          <span class="" id="neocom-ts16">{{pilot.name}}</span><br>
          <span>Born: {{pilot.birthday}}</span>
        </div>
      </td>
      <td width="30%" class="neocom-panel-right-box" align="right ">
        <img class="neocom-panel-column" id="iconsize-60" src="/assets/res-ui/drawable/minmatar.png">
        <div>
          <span>Total net worth: </span>
          <span id="neocom-ts14">{{pilot.accountBalance | number:'1.2-2' }} ISK</span>
        </div>
      </td>
    </tr>
    <tr height="36px">
      <td><img class="neocom-panel-column" id="iconsize-32" src="/assets/res-window/drawable/clonebay.png" id="iconsize-32"></td>
      <td colspan="2">
        <span>{{pilot.characterInfo.lastKnownLocation}}</span>
        <img class="neocom-panel-column" id="iconsize-32" src="/assets/res-window/drawable/securitystatus.png" id="iconsize-32">
        <span>{{pilot.characterInfo.securityStatus | number:'1.2-2'}}</span>
      </td>
      <!-- <td width="40%" class="neocom-panel-right-box" align="right "> -->
      <!-- <div>
          <span>Total net worth: </span>
          <span id="neocom-ts14">{{pilot.accountBalance | number:'1.2-2' }} ISK</span>
        </div> -->
      <!-- </td> -->
    </tr>
  </table>
</div>
