<div class="neocom-panel" [ngClass]="getColorSchemePanelStyle()">
  <div class="nc-panel-title">{{title}}</div>
  <app-spinner-panel *ngIf="downloading" [title]="'Downloading Containers...'"></app-spinner-panel>
  <div *ngFor="let node of renderNodeList">
    <av1-container4-list draggable class="" [container]="self" [variant]="'-CONTAINER-SELECTION-'" [node]="node" [colorScheme]="'panel-pink'"></av1-container4-list>
  </div>
</div>