<p>Container</p>
<div class="neocom-panel" id="panelborder-yellow">
  <div [ngClass]="{'panel-yellow-expanded': node.expanded}">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <img class="neocom-icon" src="http://image.eveonline.com/Type/{{node.typeId}}_64.png" id="iconsize-48">
        </td>
        <td class="neocom-panel-column" width="80%">
          <div class="neocom-selectable-name">{{node.name}}</div>
          <div class="neocom-data imaki-ff">[{{node.assetId}}]-{{node.category}}/{{node.groupName}}</div>
          <!-- <div class="neocom-data imaki-ff">
            <span class="neocom-data mons-olympia-ff neocom-ts16 left-data">{{node.item.baseprice | number:'1.2-2'}} ISK</span>
            <span class="neocom-data mons-olympia-ff neocom-ts16 right-data">{{totalValueIsk() | number:'1.0-0'}} ISK</span>
          </div> -->
          <!-- <div class="lined-bottomline">&nbsp;</div>
          <div class="neocom-label">
            <span class="left-data">ITEM VALUE</span>
            <span class="right-data">TOTAL VALUE</span>
          </div> -->
        </td>
        <td width="20%" class="neocom-panel-right-box" align="right ">
          <div class="stack-counter lined-bottomline">{{node.quantity | number:'1.0-0'}}</div>
          <div class="neocom-label right-data">NO. ITEMS</div>
          <div class="lined-bottomline right-data" style="padding-top: 0px;" id="neocom-ts16">{{totalVolume() | number:'1.0-0'}} M3</div>
          <div class="neocom-label right-data">VOLUME</div>
        </td>
        <td *ngIf="hasMenu()" width="5%" class="">
          <div class="">
            <!-- <a class="no-underline" [routerLink]="['/login',getLoginId(),'pilot',getCharacterId(),'PlanetaryManager','location',getLocationId(),'PlanetaryOptimization']"> -->
            <img src="/assets/icons/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
            <!-- </a> -->
          </div>
        </td>
        <td width="5%" *ngIf="!isExpandable()">
          <span>&nbsp;&nbsp;</span>
        </td>
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
        </td>
      </tr>
    </table>
  </div>
</div>
