<div class="neocom-panel" id="{{getPanelColor()}}" style="margin-bottom: 0px;">
  <div class="panel-decorator-collapsed" [ngClass]="{'panel-decorator-expanded-orange': isExpanded()}">
    <table class="neocom-panel-container" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td width="40px">
          <img class="neocom-icon" id="iconsize-36" src="{{getIconUrl()}}">
        </td>
        <td class="neocom-panel-column" width="75%">
          <span class="neocom-selectable-name">{{node.name}}</span>
          <span class="neocom.label">[{{node.getFittingId()}}]</span>
          <div class="lined-bottomline">
            <span class="neocom-data imaki-ff neocom-ts14">{{node.getHullGroup() | lowercase | capitalizeLetter}}</span>
          </div>
          <div class="">
            <span class="neocom-label">HULL CLASS</span>
          </div>
          <div>
            <span>HIGH MODULES:</span><span style="margin-left:4px;" id="neocom-ts16">{{node.getHighModulesCount()}}</span>&nbsp;&nbsp;&nbsp;
            <span>MEDIUM MODULES:</span><span style="margin-left:4px;" id="neocom-ts16">{{node.getMediumModulesCount()}}</span>&nbsp;&nbsp;&nbsp;
            <span>LOW MODULES:</span><span style="margin-left:4px;" id="neocom-ts16">{{node.getLowModulesCount()}}</span>&nbsp;&nbsp;&nbsp;
            <span>RIGS:</span><span style="margin-left:4px;" id="neocom-ts16">{{node.getRigsCount()}}</span>&nbsp;&nbsp;&nbsp;
          </div>
        </td>
        <!-- RIGHT BLOCK -->
        <td width="25%" class="neocom-panel-right-box" align="right ">
          <div class="neocom-classname">FITTING</div>
          <div id="neocom-ts16">{{node.getHullCost() | number:'1.2-2'}} ISK</div>
          <div class="neocom-label">HULL COST</div>
          <!-- <div class="stack-counter lined-bottomline" style="padding-bottom: 1px;">{{node.getFormattedStackCount()}}</div> -->
          <!-- <div class="neocom-label label-small">ITEMS</div> -->
        </td>
        <!-- MENU BLOCK -->
        <td *ngIf="hasMenu()" width="5%" class="">
          <div class="">
            <!-- <a class="no-underline" [routerLink]="['/login',getLoginId(),'pilot',getCharacterId(),'PlanetaryManager','location',getLocationId(),'PlanetaryOptimization']">
              <img src="/assets/icons/menuicon.jpg" width="16px" height="16px" style="filter: invert(100%);">
            </a> -->

          </div>
        </td>
        <!-- RIGHT ARROW -->
        <td width="5%" *ngIf="isExpandable()" class="neocom-arrow-box" (click)="clickArrow()">
          <img class="neocom-arrow" [ngClass]="{'neocom-arrow-expanded': node.expanded}" src="/assets/icons/arrowright.png ">
        </td>
        <!-- SEPARATOR WHEN NO RIGHT ARROW -->
        <td width="8px" *ngIf="!isExpandable()">
          &nbsp;&nbsp;&nbsp;
        </td>
      </tr>
      <!-- <tr>
        <td colspan="2">
          <div *ngIf="!node.downloaded" class="right-data">
            <span class="location-totals-label">&nbsp;&nbsp;&nbsp;&nbsp;TOTAL VALUE</span>
            <span class="right-data neocom-ts16">- ISK</span>
            <br>
            <span class="location-totals-label">&nbsp;TOTAL VOLUME</span>
            <span class="right-data neocom-ts16">- M3</span>
          </div>
          <div *ngIf="node.downloaded" class="right-data">
            <span class="location-totals-label">&nbsp;&nbsp;&nbsp;&nbsp;TOTAL VALUE</span>
            <span class="right-data neocom-ts16">{{node.totalValueCalculated | number:'1.0-0'}} ISK</span>
            <br>
            <span class="location-totals-label">&nbsp;TOTAL VOLUME</span>
            <span class="right-data neocom-ts16">{{node.totalVolumeCalculated | number:'1.0-0'}} M3</span>
          </div>
        </td>
      </tr> -->
    </table>
  </div>
</div>