<div class="title-box">
  <div class="title">Planetary Manager</div>
  <div class="subtitle">Processing Optimization at Location: {{getTargetName()}}</div>
</div>
<div class="spinner-box spinner-sz30" *ngIf="downloading">
  <div class="spinner-in spinner-size60"></div>
  <div class="spinner-out spinner-size70 spinner-red"></div>
</div>
<div class="panel-group">
  <div *ngFor="let render of adapterViewList">
    <neocom-region *ngIf="render.jsonClass == 'Region'" [viewer]="getViewer()" [node]="render"></neocom-region>
    <neocom-location *ngIf="render.jsonClass == 'Location'" [viewer]="getViewer()" [node]="render"></neocom-location>
    <neocom-asset *ngIf="render.jsonClass == 'Asset'" [viewer]="getViewer()" [node]="render"></neocom-asset>
    <neocom-separator *ngIf="render.jsonClass == 'Separator'" [viewer]="getViewer()" [node]="render"></neocom-separator>
    <neocom-processing-action *ngIf="render.jsonClass == 'ProcessingAction'" [viewer]="getViewer()" [node]="render"></neocom-processing-action>
  </div>
</div>
