<neocom-action-bar [title]="'Welcome to NeoCom Infinity'" [subtitle]="'Credential data and Notifications pending.'"></neocom-action-bar>

<div fxLayout="row">
  <!-- L E F T   C O L U M N - F I T T I N G   A C T I O N S -->
  <div style="width: 60%; display: inline-block;">
    <!-- <div style="border-bottom: 1px solid white;">FITTING PROCESSING TASKS</div> -->
    <!-- <neocom-spinner-central [configuration]="{title:'Processing Fitting Actions',subtitle:'Doing for copies of fittingName'}"></neocom-spinner-central> -->
    <app-spinner-panel></app-spinner-panel>
    <span>LEFT PANEL</span>
    <!-- M O D E L   V I E W   T R A N S F O R M A T I O N -->
  </div>
  <!-- R I G H T   C O L U M N - I N D U S T R Y   A S S E T S -->
  <div style="width: 40%; float: right;">
    <span>RIGHT COLUMN PANEL</span>
    <app-spinner-panel></app-spinner-panel>
    <!-- <neocom-industry-activities></neocom-industry-activities> -->
  </div>
</div>
